<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTransformerBrightness</key>
	<string>curveInJob</string>
	<key>awaitAlongJob</key>
	<string>standaloneReferenceDirection</string>
	<key>boxWithParam</key>
	<string>observerByComposite</string>
	<key>directWidgetInterval</key>
	<string>projectTierFrequency</string>
	<key>isolateTierLocation</key>
	<string>cartesianBehaviorBehavior</string>
	<key>mutableGroupFlags</key>
	<string>baseStageIndex</string>
	<key>requiredGiftInterval</key>
	<string>normalCurveSaturation</string>
	<key>textureLevelDirection</key>
	<string>sineFromObserver</string>
	<key>vectorThanNumber</key>
	<string>diversifiedResourceFrequency</string>
</dict>
</plist>
