<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintStrategyRate</key>
	<string>synchronousRectAlignment</string>
	<key>descriptionBridgeShape</key>
	<string>catalystDecoratorSkewx</string>
	<key>resourceProxyShade</key>
	<string>containerValueBorder</string>
</dict>
</plist>
