<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnLikePrototype</key>
	<string>graphMediatorIndex</string>
	<key>configurationObserverDistance</key>
	<string>blocVisitorDelay</string>
	<key>desktopTechniqueSkewx</key>
	<string>remainderThroughInterpreter</string>
	<key>iterativePopupStyle</key>
	<string>materialTextResponse</string>
	<key>notificationBridgeBehavior</key>
	<string>singletonValueOffset</string>
	<key>topicMediatorBorder</key>
	<string>stepVersusMediator</string>
</dict>
</plist>
