<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerOutsideProcess</key>
	<string>buttonLevelTension</string>
	<key>coordinatorLikeActivity</key>
	<string>spritePlatformResponse</string>
	<key>offsetBridgeState</key>
	<string>skinJobShape</string>
	<key>queueAndObserver</key>
	<string>referenceWithJob</string>
	<key>tickerForContext</key>
	<string>ternaryParamShade</string>
</dict>
</plist>
