<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAroundVar</key>
	<string>mediocreSingletonCoord</string>
	<key>enabledChapterRotation</key>
	<string>cupertinoStoreBrightness</string>
	<key>normInsideMethod</key>
	<string>sliderFormDepth</string>
	<key>radiusVisitorMode</key>
	<string>usecaseVariableMomentum</string>
</dict>
</plist>
