<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerWorkFrequency</key>
	<string>textFrameworkPosition</string>
	<key>cursorAmongProxy</key>
	<string>animatedcontainerPatternShade</string>
	<key>finalProviderState</key>
	<string>mapParameterIndex</string>
	<key>mediaTaskState</key>
	<string>stateWithVar</string>
	<key>mutableHashRight</key>
	<string>stampObserverAlignment</string>
	<key>navigationSinceMediator</key>
	<string>durationStateBrightness</string>
	<key>responseOutsideShape</key>
	<string>asyncAndParameter</string>
	<key>sampleSinceOperation</key>
	<string>listenerExceptPattern</string>
	<key>titleTaskShape</key>
	<string>descriptionAdapterTransparency</string>
	<key>widgetAroundTier</key>
	<string>channelDuringCommand</string>
</dict>
</plist>
