<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestColumnDirection</key>
	<string>callbackModeInterval</string>
	<key>operationOutsideScope</key>
	<string>coordinatorFunctionVelocity</string>
	<key>textNearInterpreter</key>
	<string>awaitPlatformDepth</string>
	<key>themeStageRotation</key>
	<string>isolateVariableBound</string>
</dict>
</plist>
