<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDespiteWork</key>
	<string>boxDuringAdapter</string>
	<key>channelChainIndex</key>
	<string>boxActionIndex</string>
	<key>coordinatorFacadeDistance</key>
	<string>transitionTempleType</string>
	<key>geometricBaseTag</key>
	<string>effectContainMediator</string>
	<key>ignoredBrushTint</key>
	<string>reductionViaSingleton</string>
	<key>missionLayerHead</key>
	<string>pageviewNumberCenter</string>
	<key>scrollInPhase</key>
	<string>crucialSliderSaturation</string>
	<key>transitionVariableTheme</key>
	<string>arithmeticToolBound</string>
</dict>
</plist>
