<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonRadiusInterval</key>
	<string>sliderValueOffset</string>
	<key>exponentVariableOrientation</key>
	<string>tickerActionRate</string>
	<key>ignoredGridType</key>
	<string>sharedExceptionAlignment</string>
	<key>optionDuringTemple</key>
	<string>blocNumberVelocity</string>
	<key>popupParameterFeedback</key>
	<string>denseEffectSaturation</string>
	<key>rowTaskLocation</key>
	<string>iterativeReductionCount</string>
</dict>
</plist>
