<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleOrBuffer</key>
	<string>agileLayoutShape</string>
	<key>custompaintEnvironmentVelocity</key>
	<string>mediocreNotifierName</string>
	<key>descriptionMethodDensity</key>
	<string>declarativeStoreLocation</string>
	<key>futureVariableTransparency</key>
	<string>intuitiveSliderVisibility</string>
	<key>interfaceInPrototype</key>
	<string>previewTierVisible</string>
	<key>resourceAgainstChain</key>
	<string>firstInjectionSpacing</string>
	<key>robustGrayscalePressure</key>
	<string>titleVarMargin</string>
	<key>sessionValueMargin</key>
	<string>navigationScopeAppearance</string>
	<key>spineMediatorOrientation</key>
	<string>documentDespiteWork</string>
	<key>webConstraintBottom</key>
	<string>menuBufferAcceleration</string>
</dict>
</plist>
