<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseEnvironmentShape</key>
	<string>interactiveProviderScale</string>
	<key>boxAsAction</key>
	<string>sortedPositionState</string>
	<key>coordinatorBeyondPlatform</key>
	<string>backwardBorderOffset</string>
	<key>disabledProgressbarHead</key>
	<string>composableCycleDirection</string>
	<key>intuitiveAnimationBrightness</key>
	<string>asyncStatefulIndex</string>
	<key>respectiveDocumentInset</key>
	<string>sceneAwayStyle</string>
	<key>segmentBeyondParameter</key>
	<string>errorTypeDepth</string>
	<key>unsortedQueryDensity</key>
	<string>granularLocalizationMomentum</string>
</dict>
</plist>
