<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectWithoutShape</key>
	<string>activeReducerPosition</string>
	<key>exceptionLevelTint</key>
	<string>secondFutureDuration</string>
	<key>mobileSensorColor</key>
	<string>commandIncludeParam</string>
	<key>mutableTickerResponse</key>
	<string>multiplicationContainDecorator</string>
	<key>previewCommandColor</key>
	<string>builderStateLeft</string>
	<key>repositoryTypeFlags</key>
	<string>binaryFrameworkMargin</string>
	<key>requestStageHead</key>
	<string>labelNumberShape</string>
	<key>specifyModelDistance</key>
	<string>shaderActionBorder</string>
	<key>symmetricBatchDistance</key>
	<string>curveFormTint</string>
	<key>widgetBufferAlignment</key>
	<string>eagerLabelStyle</string>
</dict>
</plist>
