<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionParameterName</key>
	<string>standaloneCubitState</string>
	<key>descriptionInsideStyle</key>
	<string>popupLikeSystem</string>
	<key>extensionContextTint</key>
	<string>staticLabelTail</string>
	<key>independentUsageDistance</key>
	<string>timerAlongObserver</string>
	<key>loopUntilTask</key>
	<string>cupertinoSpineColor</string>
	<key>overlayAwayParameter</key>
	<string>textPlatformSkewy</string>
	<key>zoneTierTail</key>
	<string>specifierPatternStatus</string>
</dict>
</plist>
