<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredArithmeticPosition</key>
	<string>usecaseCompositeCenter</string>
	<key>diffableButtonScale</key>
	<string>tabbarPerPhase</string>
	<key>variantSystemPressure</key>
	<string>priorResourceSkewy</string>
</dict>
</plist>
