<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterExceptParameter</key>
	<string>observerOrProcess</string>
	<key>exceptionShapeAlignment</key>
	<string>animatedTitleMode</string>
	<key>exponentInsideAction</key>
	<string>sliderAtProxy</string>
	<key>opaqueNodeIndex</key>
	<string>sceneFromPhase</string>
	<key>parallelModulusTransparency</key>
	<string>protocolViaAdapter</string>
	<key>sceneIncludeState</key>
	<string>titleMethodForce</string>
	<key>subtleTouchSaturation</key>
	<string>referenceSincePattern</string>
</dict>
</plist>
