<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionContextEdge</key>
	<string>textureTierMode</string>
	<key>directIntensityOffset</key>
	<string>descriptorTypeState</string>
	<key>heapStyleTag</key>
	<string>numericalPositionedShade</string>
	<key>immutableUsecaseFrequency</key>
	<string>boxFromPattern</string>
	<key>resizableDependencyStatus</key>
	<string>multiplicationAgainstVisitor</string>
</dict>
</plist>
