<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationThanSingleton</key>
	<string>dynamicViewInterval</string>
	<key>finalMomentumForce</key>
	<string>reusableIconName</string>
	<key>metadataAdapterPosition</key>
	<string>rowJobType</string>
	<key>sampleForKind</key>
	<string>notifierPlatformTop</string>
	<key>unaryFrameworkSpeed</key>
	<string>listenerThanFacade</string>
</dict>
</plist>
