<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideVariable</key>
	<string>apertureAmongValue</string>
	<key>awaitAlongStyle</key>
	<string>equipmentDecoratorCenter</string>
	<key>errorTypeResponse</key>
	<string>denseCubitTag</string>
	<key>flexAmongTemple</key>
	<string>substantialPlaybackResponse</string>
	<key>interactiveAllocatorValidation</key>
	<string>draggableAllocatorVisible</string>
	<key>listenerStructureLeft</key>
	<string>coordinatorCycleTint</string>
	<key>mobileResourceColor</key>
	<string>localizationStyleName</string>
	<key>scrollStructureMargin</key>
	<string>arithmeticPerObserver</string>
	<key>symbolAboutVariable</key>
	<string>elasticSignOffset</string>
	<key>vectorPrototypePosition</key>
	<string>allocatorIncludeAction</string>
</dict>
</plist>
