<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBlocShade</key>
	<string>positionedVarRight</string>
	<key>animationThroughOperation</key>
	<string>hierarchicalSessionVisible</string>
	<key>concreteEffectSpacing</key>
	<string>subtleNavigatorMargin</string>
	<key>imageVarAcceleration</key>
	<string>zoneAgainstAction</string>
	<key>movementObserverKind</key>
	<string>documentStageTension</string>
	<key>opaqueInteractorCenter</key>
	<string>prevSignatureEdge</string>
	<key>opaqueRadiusLocation</key>
	<string>eagerTweenBrightness</string>
	<key>sizeChainTint</key>
	<string>statelessIncludeChain</string>
	<key>usedAwaitBottom</key>
	<string>stampLikeTask</string>
</dict>
</plist>
