<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerCommandBottom</key>
	<string>threadOutsideVar</string>
	<key>arithmeticContractionName</key>
	<string>mobileProtocolTop</string>
	<key>boxshadowInStructure</key>
	<string>enabledConvolutionState</string>
	<key>constraintFacadeVisible</key>
	<string>subpixelTypeFeedback</string>
	<key>controllerViaForm</key>
	<string>sceneForAdapter</string>
	<key>mutableClipperBottom</key>
	<string>gemPlatformLeft</string>
	<key>responsiveFragmentMode</key>
	<string>completionOrLevel</string>
	<key>serviceFromAdapter</key>
	<string>curveBridgeBorder</string>
	<key>sortedMatrixFeedback</key>
	<string>constZoneCount</string>
	<key>tangentLayerShade</key>
	<string>dynamicSizeTop</string>
</dict>
</plist>
