<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchInsideContext</key>
	<string>declarativeHeapName</string>
	<key>consultativeFeatureVelocity</key>
	<string>persistentProtocolSkewy</string>
	<key>listenerAwayBuffer</key>
	<string>geometricChannelsPressure</string>
	<key>singletonAlongSystem</key>
	<string>integerFlyweightOpacity</string>
	<key>statefulCallbackMargin</key>
	<string>mobxInVar</string>
</dict>
</plist>
