<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackUntilNumber</key>
	<string>commonSensorSkewx</string>
	<key>constStorageMargin</key>
	<string>coordinatorAtStyle</string>
	<key>layerChainFeedback</key>
	<string>largeStepFlags</string>
	<key>sizeDespitePrototype</key>
	<string>segueNumberRotation</string>
</dict>
</plist>
