<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionTypeVelocity</key>
	<string>adaptiveThreadHead</string>
	<key>geometricCardFeedback</key>
	<string>directInterpolationTop</string>
	<key>groupBeyondSingleton</key>
	<string>coordinatorWithComposite</string>
	<key>overlaySingletonRate</key>
	<string>lossVisitorDelay</string>
	<key>painterBeyondAdapter</key>
	<string>inactiveSizedboxDuration</string>
	<key>parallelImageEdge</key>
	<string>durationFlyweightState</string>
	<key>permissivePopupName</key>
	<string>normalResolverDelay</string>
	<key>positionedBridgeDuration</key>
	<string>iconFromPrototype</string>
	<key>routeParamEdge</key>
	<string>nibInBuffer</string>
</dict>
</plist>
