<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistFromContext</key>
	<string>sharedCheckboxDirection</string>
	<key>composableGridDistance</key>
	<string>effectOperationInterval</string>
	<key>criticalModulusTop</key>
	<string>effectMediatorInterval</string>
	<key>descriptorPhaseDistance</key>
	<string>sliderContainAction</string>
	<key>discardedResourceVisible</key>
	<string>custompaintAdapterOffset</string>
	<key>disparateCursorIndex</key>
	<string>allocatorIncludeJob</string>
	<key>resolverAsLayer</key>
	<string>controllerPerType</string>
	<key>transformerDespiteLayer</key>
	<string>giftDuringShape</string>
	<key>transformerUntilFacade</key>
	<string>animationTierMomentum</string>
</dict>
</plist>
