<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFunctionPadding</key>
	<string>durationObserverSkewx</string>
	<key>constMarginKind</key>
	<string>ignoredHeapStyle</string>
	<key>firstPainterRotation</key>
	<string>interfaceBesideScope</string>
	<key>protocolStageVisibility</key>
	<string>appbarDespiteBridge</string>
	<key>relationalChecklistLocation</key>
	<string>concurrentBufferAlignment</string>
	<key>resolverTierVisible</key>
	<string>routerBesideNumber</string>
	<key>temporaryEffectSkewy</key>
	<string>layoutAndFlyweight</string>
</dict>
</plist>
