<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationNearStructure</key>
	<string>functionalResolverTint</string>
	<key>imageSingletonBottom</key>
	<string>signatureNearStrategy</string>
	<key>iterativeErrorTension</key>
	<string>concurrentResolverShape</string>
	<key>navigatorWithoutBridge</key>
	<string>usedBitrateDistance</string>
	<key>radiusFunctionCenter</key>
	<string>labelBesideAction</string>
	<key>sampleAndStructure</key>
	<string>directRouteTheme</string>
	<key>sizedboxAtCommand</key>
	<string>storeAdapterScale</string>
	<key>synchronousGraphInteraction</key>
	<string>sessionInJob</string>
</dict>
</plist>
