<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationMethodScale</key>
	<string>draggableScrollContrast</string>
	<key>effectKindBottom</key>
	<string>interactiveGetxSize</string>
	<key>gridNearSingleton</key>
	<string>methodContainVar</string>
	<key>hardStepStyle</key>
	<string>resizableGateFormat</string>
	<key>independentOffsetPressure</key>
	<string>associatedAlignmentSkewy</string>
	<key>mobileAtPlatform</key>
	<string>scrollableHashVisible</string>
	<key>otherBoxShape</key>
	<string>eventBeyondCycle</string>
	<key>sliderAsTier</key>
	<string>immutableGesturedetectorDepth</string>
	<key>staticCustompaintTint</key>
	<string>statefulMarginBottom</string>
	<key>visibleCyclePressure</key>
	<string>timerShapeAlignment</string>
</dict>
</plist>
