<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTempleDelay</key>
	<string>textLikePhase</string>
	<key>completionTempleTop</key>
	<string>largeGradientDuration</string>
	<key>delegateTierCoord</key>
	<string>techniqueInObserver</string>
	<key>futureOrPhase</key>
	<string>workflowActionDepth</string>
	<key>originalSceneBound</key>
	<string>diversifiedButtonFrequency</string>
	<key>transformerPrototypeBottom</key>
	<string>stampVersusJob</string>
</dict>
</plist>
