<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCommandPadding</key>
	<string>catalystWithShape</string>
	<key>checkboxFromCommand</key>
	<string>diffableInteractorInset</string>
	<key>disabledRoleState</key>
	<string>threadByCommand</string>
	<key>hierarchicalLoopSaturation</key>
	<string>usedDelegateState</string>
	<key>inkwellForAction</key>
	<string>controllerAwayStyle</string>
	<key>newestLayoutMomentum</key>
	<string>semanticsPatternBrightness</string>
</dict>
</plist>
