<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterActionCoord</key>
	<string>nextLogarithmMomentum</string>
	<key>cubeLayerResponse</key>
	<string>errorWithSingleton</string>
	<key>labelBufferSkewx</key>
	<string>cycleNumberRate</string>
	<key>observerKindCenter</key>
	<string>customSizedboxFlags</string>
	<key>resolverBeyondWork</key>
	<string>mutableLocalizationFormat</string>
	<key>scaffoldTypeOffset</key>
	<string>axisChainCenter</string>
	<key>singleTitleVelocity</key>
	<string>painterUntilObserver</string>
</dict>
</plist>
