<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFrameworkAppearance</key>
	<string>entropyTempleSpacing</string>
	<key>constAnchorTheme</key>
	<string>layoutFormResponse</string>
	<key>eventShapeMomentum</key>
	<string>referenceCycleKind</string>
	<key>nativeContainerSkewy</key>
	<string>declarativePresenterTag</string>
</dict>
</plist>
