<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadataSingletonStyle</key>
	<string>stampActionIndex</string>
	<key>movementDecoratorKind</key>
	<string>groupDuringNumber</string>
	<key>primarySignatureRight</key>
	<string>roleSinceFlyweight</string>
	<key>signatureProxyInteraction</key>
	<string>exceptionDecoratorBound</string>
	<key>similarActivityPosition</key>
	<string>cosineFacadeOrientation</string>
	<key>subpixelFrameworkVelocity</key>
	<string>pivotalNodePressure</string>
	<key>themeObserverFormat</key>
	<string>compositionalReducerHead</string>
</dict>
</plist>
