<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSliderSkewx</key>
	<string>marginPerFlyweight</string>
	<key>decorationOutsideForm</key>
	<string>callbackSingletonTail</string>
	<key>diffableCommandIndex</key>
	<string>catalystObserverFeedback</string>
	<key>entropyThanStyle</key>
	<string>geometricSymbolName</string>
	<key>grainParamFlags</key>
	<string>titleAdapterSkewy</string>
	<key>momentumOutsideVar</key>
	<string>titleFrameworkAppearance</string>
	<key>secondResourceRate</key>
	<string>intensityAdapterVisible</string>
	<key>subscriptionPlatformTop</key>
	<string>pivotalStateInset</string>
	<key>widgetWithoutCycle</key>
	<string>serviceAroundDecorator</string>
</dict>
</plist>
