<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTopicVisibility</key>
	<string>canvasDecoratorTension</string>
	<key>compositionalPainterFormat</key>
	<string>subscriptionOrChain</string>
	<key>equalizationOperationInset</key>
	<string>pinchableSinkName</string>
	<key>fragmentExceptKind</key>
	<string>primarySinkTension</string>
	<key>inkwellAboutLevel</key>
	<string>parallelCommandVisible</string>
	<key>menuDuringJob</key>
	<string>normalLayerLeft</string>
	<key>positionSinceBuffer</key>
	<string>animatedcontainerCompositeOpacity</string>
	<key>radioAgainstJob</key>
	<string>slashObserverTag</string>
</dict>
</plist>
