<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellWithoutNumber</key>
	<string>decorationParameterInset</string>
	<key>hashProcessBehavior</key>
	<string>commonGridFeedback</string>
	<key>usedCubitCount</key>
	<string>grainAmongStyle</string>
</dict>
</plist>
