<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentPresenterOrigin</key>
	<string>scrollContainJob</string>
	<key>displayableProviderTransparency</key>
	<string>directlyTimerOrientation</string>
	<key>notificationBeyondContext</key>
	<string>frameAwayProxy</string>
	<key>queryStructureSize</key>
	<string>statelessResourceStyle</string>
	<key>stateOfLevel</key>
	<string>menuModeDistance</string>
	<key>stepViaWork</key>
	<string>assetOrBridge</string>
	<key>widgetBridgeSpacing</key>
	<string>animationContainInterpreter</string>
</dict>
</plist>
