<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeMovementValidation</key>
	<string>extensionVersusAdapter</string>
	<key>descriptionVersusEnvironment</key>
	<string>comprehensiveSliderTag</string>
	<key>logarithmScopeCenter</key>
	<string>routeDecoratorPressure</string>
	<key>navigatorMediatorLeft</key>
	<string>imperativeCupertinoPressure</string>
	<key>remainderFunctionIndex</key>
	<string>agileAccessoryIndex</string>
	<key>smartRadiusLocation</key>
	<string>gramCommandRight</string>
	<key>typicalRequestKind</key>
	<string>apertureAroundAction</string>
</dict>
</plist>
