<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBesideAction</key>
	<string>observerSinceFacade</string>
	<key>animationParameterTail</key>
	<string>keyTabbarTension</string>
	<key>asyncIncludeComposite</key>
	<string>controllerJobTheme</string>
	<key>constraintPhaseFrequency</key>
	<string>activeDecorationRotation</string>
	<key>temporaryBlocFormat</key>
	<string>notifierAtTemple</string>
	<key>textUntilKind</key>
	<string>scaffoldPhaseContrast</string>
</dict>
</plist>
