<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBlocOpacity</key>
	<string>featureTierOrigin</string>
	<key>constraintCycleLeft</key>
	<string>hashNearProcess</string>
	<key>exponentIncludeOperation</key>
	<string>spriteNearAdapter</string>
	<key>particleActivityBound</key>
	<string>layoutAboutBridge</string>
	<key>sizeInsideInterpreter</key>
	<string>normPatternIndex</string>
	<key>uniformTransitionSkewx</key>
	<string>variantStrategyFlags</string>
</dict>
</plist>
