<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityActionIndex</key>
	<string>bulletLikeAction</string>
	<key>independentTouchDensity</key>
	<string>convolutionProxyVelocity</string>
	<key>intensityAdapterTail</key>
	<string>mobxMediatorOrigin</string>
	<key>liteDelegateShade</key>
	<string>utilAdapterMargin</string>
	<key>pinchableCapacitiesTension</key>
	<string>axisOperationBottom</string>
	<key>storyboardForShape</key>
	<string>explicitTechniqueOrientation</string>
	<key>tickerAwayStructure</key>
	<string>missedConstraintInteraction</string>
	<key>unactivatedNavigationPressure</key>
	<string>shaderStyleMomentum</string>
</dict>
</plist>
