<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderVisitorMode</key>
	<string>isolateSinceStructure</string>
	<key>cartesianDescriptionState</key>
	<string>scrollOfState</string>
	<key>crudeSwiftForce</key>
	<string>allocatorShapeSaturation</string>
	<key>customSizeContrast</key>
	<string>priorityVersusVar</string>
	<key>equalizationPatternFlags</key>
	<string>bitrateBesideJob</string>
	<key>eventFromFlyweight</key>
	<string>commandStrategyOrientation</string>
	<key>normalCursorSkewy</key>
	<string>textureKindCount</string>
	<key>observerExceptEnvironment</key>
	<string>loopWorkTail</string>
</dict>
</plist>
