<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncEventOrigin</key>
	<string>lazyEntityColor</string>
	<key>cupertinoChapterForce</key>
	<string>lossPerProcess</string>
	<key>eventVersusTier</key>
	<string>sceneBesideContext</string>
	<key>retainedPlaybackOrientation</key>
	<string>sinkSystemSpacing</string>
	<key>routeAndMethod</key>
	<string>missedNibBehavior</string>
</dict>
</plist>
