<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectExceptMethod</key>
	<string>subscriptionJobFormat</string>
	<key>groupDecoratorForce</key>
	<string>resultParameterBound</string>
	<key>precisionUntilShape</key>
	<string>blocAtFunction</string>
	<key>radiusByForm</key>
	<string>difficultTouchColor</string>
	<key>semanticAnimationInteraction</key>
	<string>referenceShapeTail</string>
	<key>shaderOfAction</key>
	<string>animationExceptMemento</string>
	<key>storeKindFeedback</key>
	<string>eventMediatorVelocity</string>
</dict>
</plist>
