<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintOperationTail</key>
	<string>newestDimensionStyle</string>
	<key>delegateParameterRotation</key>
	<string>usecasePatternPadding</string>
	<key>euclideanLoopType</key>
	<string>animationVarVelocity</string>
	<key>mapShapeFeedback</key>
	<string>difficultAwaitHue</string>
	<key>repositoryScopeForce</key>
	<string>subtleCoordinatorFeedback</string>
	<key>resolverBesideParam</key>
	<string>descriptorVarContrast</string>
	<key>signInsideForm</key>
	<string>modalIncludePrototype</string>
</dict>
</plist>
