<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVariableInterval</key>
	<string>diffableStampSpacing</string>
	<key>delicateAnimationColor</key>
	<string>controllerSingletonFlags</string>
	<key>entityScopeSpeed</key>
	<string>tangentTierIndex</string>
	<key>gramByShape</key>
	<string>plateBridgeOrientation</string>
	<key>instructionBufferAlignment</key>
	<string>tableInsideAdapter</string>
	<key>storyboardStyleInset</key>
	<string>sliderForDecorator</string>
</dict>
</plist>
