<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOperationRate</key>
	<string>gateViaDecorator</string>
	<key>animationPlatformPosition</key>
	<string>listviewStructureLocation</string>
	<key>associatedAnimationKind</key>
	<string>constraintOfAdapter</string>
	<key>chartVersusType</key>
	<string>rapidButtonDepth</string>
	<key>completerNearStructure</key>
	<string>radioTempleBound</string>
	<key>entityModeRotation</key>
	<string>effectAtVar</string>
	<key>hashCompositeOrigin</key>
	<string>smallGetxColor</string>
	<key>radioOutsidePrototype</key>
	<string>sharedRouteBorder</string>
</dict>
</plist>
