<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintOperationRotation</key>
	<string>specifierAboutSingleton</string>
	<key>injectionByMediator</key>
	<string>monsterPlatformTint</string>
	<key>missedTransformerOrigin</key>
	<string>serviceBesideScope</string>
	<key>pointPlatformRight</key>
	<string>resultScopeSpacing</string>
	<key>remainderDespiteEnvironment</key>
	<string>controllerForTier</string>
	<key>seamlessIsolateDuration</key>
	<string>iterativeSwitchCenter</string>
</dict>
</plist>
