<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationCommandName</key>
	<string>errorBeyondFunction</string>
	<key>contractionFrameworkMode</key>
	<string>layoutFormFlags</string>
	<key>gesturedetectorVariableTail</key>
	<string>lastSinkBorder</string>
	<key>indicatorAwayLayer</key>
	<string>workflowIncludeBridge</string>
	<key>nibScopeValidation</key>
	<string>subscriptionAndAction</string>
	<key>optimizerCommandStyle</key>
	<string>spotFrameworkDuration</string>
	<key>popupVersusKind</key>
	<string>publicResolverAlignment</string>
	<key>resizableSinkSkewy</key>
	<string>matrixTempleForce</string>
	<key>sinkThanPrototype</key>
	<string>localizationOfBridge</string>
	<key>storeFromFacade</key>
	<string>similarMediaState</string>
</dict>
</plist>
