<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionThanMode</key>
	<string>modelAroundProxy</string>
	<key>delicateExceptionLocation</key>
	<string>sampleActivityTransparency</string>
	<key>pointBesideBuffer</key>
	<string>hardLayoutOrientation</string>
	<key>protocolOperationLeft</key>
	<string>coordinatorByFlyweight</string>
	<key>reductionStyleState</key>
	<string>parallelContainerKind</string>
	<key>retainedGraphTop</key>
	<string>interactiveTableTag</string>
	<key>uniqueUtilRight</key>
	<string>delegateDespiteStrategy</string>
</dict>
</plist>
