<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopPrototypeTension</key>
	<string>enabledHandlerHue</string>
	<key>managerVersusShape</key>
	<string>symbolPlatformRate</string>
	<key>reductionStrategyValidation</key>
	<string>equalizationKindPadding</string>
	<key>specifySegueTag</key>
	<string>constraintFormForce</string>
	<key>statefulCubeAcceleration</key>
	<string>flexibleDecorationOffset</string>
</dict>
</plist>
