<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAgainstFacade</key>
	<string>taskThanStructure</string>
	<key>desktopClipperSpacing</key>
	<string>injectionAdapterResponse</string>
	<key>handlerForFramework</key>
	<string>navigatorBesideNumber</string>
	<key>ignoredModulusOrigin</key>
	<string>normPlatformTheme</string>
	<key>layoutNearScope</key>
	<string>bufferProxyFormat</string>
	<key>methodAndKind</key>
	<string>observerAsActivity</string>
	<key>notifierAroundContext</key>
	<string>beginnerTaskOffset</string>
	<key>visibleAnimationDepth</key>
	<string>rowWithoutStyle</string>
</dict>
</plist>
