<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitAndContext</key>
	<string>heapActivityAlignment</string>
	<key>hardSingletonKind</key>
	<string>controllerExceptValue</string>
	<key>lastServiceTop</key>
	<string>intuitiveOptimizerSaturation</string>
	<key>navigatorNearTask</key>
	<string>crucialGestureSize</string>
	<key>routeWithoutTier</key>
	<string>specifierIncludeVisitor</string>
	<key>viewVersusAdapter</key>
	<string>asyncPopupIndex</string>
</dict>
</plist>
