<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeNearParam</key>
	<string>dimensionNearCommand</string>
	<key>dimensionAndFlyweight</key>
	<string>decorationWorkSpacing</string>
	<key>ephemeralGroupInset</key>
	<string>sequentialNotifierSpacing</string>
	<key>fixedGrainState</key>
	<string>subtleConvolutionSkewx</string>
	<key>immediateSubpixelKind</key>
	<string>presenterContainFunction</string>
	<key>newestMobileResponse</key>
	<string>mainRequestFlags</string>
	<key>normScopeTag</key>
	<string>disabledSingletonDistance</string>
	<key>parallelHandlerFlags</key>
	<string>curveAsBridge</string>
	<key>tabviewVersusOperation</key>
	<string>directContainerVelocity</string>
	<key>tappableStampEdge</key>
	<string>musicViaParam</string>
</dict>
</plist>
