<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnAroundMode</key>
	<string>subscriptionWithJob</string>
	<key>configurationSingletonSkewy</key>
	<string>flexibleResourceRotation</string>
	<key>frameThroughStrategy</key>
	<string>tickerMethodDirection</string>
	<key>momentumThroughProcess</key>
	<string>gestureAmongFlyweight</string>
	<key>notificationStructureDelay</key>
	<string>missionWithStrategy</string>
	<key>primaryEntityResponse</key>
	<string>semanticPrecisionName</string>
	<key>querySinceFramework</key>
	<string>tickerStageTint</string>
	<key>usecaseAlongLayer</key>
	<string>metadataWithPrototype</string>
</dict>
</plist>
