<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRepositoryName</key>
	<string>buttonAgainstComposite</string>
	<key>gesturedetectorModeShape</key>
	<string>observerBesideProxy</string>
	<key>radiusStateHead</key>
	<string>plateNearVisitor</string>
	<key>transitionFacadeStyle</key>
	<string>comprehensiveViewAppearance</string>
	<key>unactivatedRepositoryTint</key>
	<string>backwardRowCoord</string>
	<key>widgetFormVelocity</key>
	<string>bufferForPattern</string>
</dict>
</plist>
