<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerBeyondParameter</key>
	<string>cursorTypeValidation</string>
	<key>otherMethodSkewy</key>
	<string>directBuilderDepth</string>
	<key>scaffoldNearProxy</key>
	<string>routerForStrategy</string>
	<key>sessionAgainstFunction</key>
	<string>chapterPerMode</string>
</dict>
</plist>
