<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardAboutSingleton</key>
	<string>rowWithPhase</string>
	<key>challengeInterpreterAcceleration</key>
	<string>transitionOrInterpreter</string>
	<key>denseZoneBrightness</key>
	<string>globalStatelessTension</string>
	<key>nibMediatorMargin</key>
	<string>consumerIncludeSingleton</string>
	<key>normalCurveMomentum</key>
	<string>numericalProviderOffset</string>
	<key>originalButtonScale</key>
	<string>taskAsVar</string>
	<key>publicNavigatorPressure</key>
	<string>usecaseUntilFlyweight</string>
	<key>responsiveNavigationMargin</key>
	<string>canvasPrototypeTint</string>
	<key>semanticAnimationTension</key>
	<string>difficultInteractorCount</string>
</dict>
</plist>
