<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDescriptionVisibility</key>
	<string>significantCustompaintType</string>
	<key>labelPatternCount</key>
	<string>diffableSingletonFeedback</string>
	<key>layoutLikeMode</key>
	<string>relationalOptionSaturation</string>
	<key>localizationThanSystem</key>
	<string>composableUsageTheme</string>
</dict>
</plist>
