<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterLikeDecorator</key>
	<string>grainAboutJob</string>
	<key>gemAtParam</key>
	<string>activatedControllerIndex</string>
	<key>gradientFrameworkValidation</key>
	<string>activatedLoopDirection</string>
	<key>lostAlphaFeedback</key>
	<string>factoryViaActivity</string>
	<key>resolverSinceStrategy</key>
	<string>localSinkTint</string>
	<key>scrollVariableDelay</key>
	<string>controllerPerTemple</string>
	<key>textfieldMediatorOpacity</key>
	<string>spotActivityTail</string>
</dict>
</plist>
