<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioParameterType</key>
	<string>singleGramTail</string>
	<key>descriptionParameterTransparency</key>
	<string>navigationFrameworkScale</string>
	<key>gridAndForm</key>
	<string>subsequentCacheLeft</string>
	<key>mediaqueryLikeFlyweight</key>
	<string>builderIncludeTask</string>
	<key>navigatorInterpreterLeft</key>
	<string>timerBeyondWork</string>
	<key>painterLikeKind</key>
	<string>kernelExceptFlyweight</string>
	<key>vectorNearChain</key>
	<string>permissiveResolverTag</string>
	<key>zoneActivityRate</key>
	<string>uniformShaderAlignment</string>
</dict>
</plist>
