<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackViaStructure</key>
	<string>independentGridState</string>
	<key>chartAroundFacade</key>
	<string>functionalViewEdge</string>
	<key>sinkCommandSpeed</key>
	<string>animationLikeFramework</string>
</dict>
</plist>
