<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSingletonResponse</key>
	<string>asyncObserverMomentum</string>
	<key>containerAgainstVariable</key>
	<string>ephemeralSizeSaturation</string>
	<key>deferredTitleLeft</key>
	<string>alertOfForm</string>
	<key>interactiveCubitHead</key>
	<string>basicMetadataEdge</string>
	<key>previewDuringParam</key>
	<string>oldLayoutRight</string>
	<key>singletonMementoTint</key>
	<string>transitionChainEdge</string>
	<key>storyboardOperationRate</key>
	<string>hashTempleValidation</string>
	<key>tappableCapacitiesState</key>
	<string>tweenUntilCycle</string>
	<key>unactivatedUsageAppearance</key>
	<string>gramParamAcceleration</string>
</dict>
</plist>
