<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianRowInteraction</key>
	<string>optionInChain</string>
	<key>commandPhaseDistance</key>
	<string>interpolationActivityTheme</string>
	<key>constTouchRotation</key>
	<string>newestModalSaturation</string>
	<key>finalAccessoryResponse</key>
	<string>progressbarVersusVariable</string>
	<key>hyperbolicResourceCount</key>
	<string>arithmeticSystemFrequency</string>
	<key>materialPresenterCount</key>
	<string>semanticMonsterDelay</string>
	<key>optimizerViaTier</key>
	<string>promiseAboutFlyweight</string>
	<key>secondOffsetSpacing</key>
	<string>subtleThreadSize</string>
	<key>touchAdapterVisible</key>
	<string>statelessFlyweightInteraction</string>
</dict>
</plist>
