<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDuringPhase</key>
	<string>priorRepositoryLeft</string>
	<key>gridviewStrategyVisible</key>
	<string>streamDuringStructure</string>
	<key>normalMovementBehavior</key>
	<string>cubeOperationName</string>
	<key>ternaryFunctionSpacing</key>
	<string>positionAgainstMemento</string>
</dict>
</plist>
