<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentInObserver</key>
	<string>modalObserverInset</string>
	<key>cubitInterpreterOpacity</key>
	<string>constraintAboutVar</string>
	<key>durationOutsideNumber</key>
	<string>baseObserverDepth</string>
	<key>graphNearMethod</key>
	<string>errorOfNumber</string>
	<key>ignoredAlphaBound</key>
	<string>zoneThanPlatform</string>
	<key>signWorkOpacity</key>
	<string>uniformChannelsIndex</string>
	<key>statefulCapsuleDuration</key>
	<string>captionMethodRotation</string>
	<key>statefulOfNumber</key>
	<string>usageMediatorDirection</string>
</dict>
</plist>
