<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerNearContext</key>
	<string>hashModeAcceleration</string>
	<key>disabledConstraintLeft</key>
	<string>entityOperationState</string>
	<key>grayscaleStyleFlags</key>
	<string>intuitiveCubeFeedback</string>
	<key>handlerDespiteActivity</key>
	<string>challengeLikeEnvironment</string>
	<key>modulusParameterTop</key>
	<string>cupertinoNearCommand</string>
	<key>observerDecoratorDepth</key>
	<string>inactiveTextureMode</string>
	<key>webSubscriptionDepth</key>
	<string>declarativeButtonRotation</string>
</dict>
</plist>
