<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellShapeInset</key>
	<string>techniqueMediatorCount</string>
	<key>channelsDespiteSystem</key>
	<string>typicalGrainBehavior</string>
	<key>errorDuringFacade</key>
	<string>anchorEnvironmentAlignment</string>
	<key>exceptionIncludeSystem</key>
	<string>remainderActionBound</string>
	<key>interactorSystemForce</key>
	<string>heapVisitorMode</string>
	<key>optimizerByType</key>
	<string>pivotalStackOpacity</string>
	<key>permissiveTouchAlignment</key>
	<string>menuDespiteState</string>
	<key>relationalPresenterInteraction</key>
	<string>composableSignatureRotation</string>
</dict>
</plist>
