<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAsObserver</key>
	<string>alphaForPhase</string>
	<key>cubitActionInteraction</key>
	<string>specifyBaselineOrigin</string>
	<key>dynamicPetCenter</key>
	<string>sinkThanFlyweight</string>
	<key>expandedOperationBehavior</key>
	<string>textfieldCompositeBottom</string>
	<key>getxOrMediator</key>
	<string>routeVarTop</string>
	<key>nativeActivityPosition</key>
	<string>operationTempleMode</string>
	<key>oldEntityTheme</key>
	<string>providerFlyweightScale</string>
	<key>statelessDependencyHead</key>
	<string>fixedPositionedFormat</string>
	<key>substantialAwaitSize</key>
	<string>scaffoldBesidePhase</string>
	<key>temporaryCaptionHead</key>
	<string>extensionThanCycle</string>
</dict>
</plist>
