<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRequestForce</key>
	<string>accordionAwaitRotation</string>
	<key>alignmentEnvironmentTint</key>
	<string>lazyProgressbarDuration</string>
	<key>hierarchicalDelegateStyle</key>
	<string>contractionThroughStructure</string>
	<key>newestAssetVisible</key>
	<string>radiusActionDirection</string>
	<key>plateThroughEnvironment</key>
	<string>protectedScaleInterval</string>
</dict>
</plist>
