<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPrototypeCount</key>
	<string>parallelInteractorCenter</string>
	<key>documentOutsideLayer</key>
	<string>loopThroughPlatform</string>
	<key>integerAtPrototype</key>
	<string>controllerPlatformContrast</string>
	<key>mediaqueryFunctionDepth</key>
	<string>awaitActionType</string>
	<key>projectWorkColor</key>
	<string>associatedBorderSpeed</string>
</dict>
</plist>
