<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAdapterDensity</key>
	<string>popupBesideInterpreter</string>
	<key>curveExceptPhase</key>
	<string>particleTierMode</string>
	<key>decorationFlyweightForce</key>
	<string>optionBridgeLocation</string>
	<key>nodeAgainstFramework</key>
	<string>reactiveProjectionName</string>
	<key>similarOptimizerAlignment</key>
	<string>discardedSpriteDirection</string>
	<key>statelessTabbarSkewx</key>
	<string>graphicAsMode</string>
	<key>titleObserverShape</key>
	<string>extensionLevelFlags</string>
</dict>
</plist>
