<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxChainTension</key>
	<string>iterativeCommandRate</string>
	<key>mediumSineFeedback</key>
	<string>directlyLoopCenter</string>
	<key>menuKindStyle</key>
	<string>draggableDurationSpacing</string>
	<key>metadataSingletonStatus</key>
	<string>priorityPhaseAlignment</string>
	<key>resourceOperationLeft</key>
	<string>spriteProcessHue</string>
	<key>skirtByCycle</key>
	<string>actionInWork</string>
</dict>
</plist>
