<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSizeTint</key>
	<string>normalCardValidation</string>
	<key>certificateVariableRate</key>
	<string>blocMementoInteraction</string>
	<key>declarativeScaleBrightness</key>
	<string>resizableSpotBottom</string>
	<key>effectAndContext</key>
	<string>semanticsThanFunction</string>
	<key>observerBridgeForce</key>
	<string>textfieldExceptTask</string>
	<key>pinchableLabelDepth</key>
	<string>deferredStoreTension</string>
	<key>reductionVarFormat</key>
	<string>equalizationAgainstOperation</string>
	<key>stateInPrototype</key>
	<string>builderPerProcess</string>
	<key>statelessMonsterMode</key>
	<string>layerKindBound</string>
	<key>vectorAndFramework</key>
	<string>managerProcessDirection</string>
</dict>
</plist>
