<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterUntilMethod</key>
	<string>retainedMonsterState</string>
	<key>cubitLikeShape</key>
	<string>uniqueExpandedFormat</string>
	<key>easySineTension</key>
	<string>prevMemberDelay</string>
	<key>gestureAtDecorator</key>
	<string>cellModeState</string>
	<key>mediumSkirtBrightness</key>
	<string>cupertinoGraphInset</string>
	<key>movementAsObserver</key>
	<string>exceptionProcessDelay</string>
	<key>reducerCycleFlags</key>
	<string>globalAssetVisible</string>
	<key>robustInkwellShape</key>
	<string>transformerVarPressure</string>
	<key>sortedIntensityTheme</key>
	<string>fusedCursorStyle</string>
	<key>unactivatedPointPressure</key>
	<string>durationAgainstValue</string>
</dict>
</plist>
