<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoFutureShape</key>
	<string>secondActivityFlags</string>
	<key>canvasWorkValidation</key>
	<string>checklistPatternOrigin</string>
	<key>delegateAmongVar</key>
	<string>tangentShapeAppearance</string>
	<key>durationMethodCenter</key>
	<string>convolutionJobSpacing</string>
	<key>indicatorWithoutFacade</key>
	<string>requiredTaskFlags</string>
	<key>missionPhaseSkewx</key>
	<string>compositionalMovementStyle</string>
	<key>monsterAroundPrototype</key>
	<string>liteTouchHue</string>
	<key>sinkObserverValidation</key>
	<string>firstRowSkewy</string>
	<key>utilOutsideNumber</key>
	<string>cardFrameworkType</string>
</dict>
</plist>
