<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionWidgetCount</key>
	<string>robustRichtextInterval</string>
	<key>activityWorkCount</key>
	<string>curveSystemFormat</string>
	<key>alertAmongLevel</key>
	<string>equalizationJobSpacing</string>
	<key>builderOrFacade</key>
	<string>interactorAgainstLevel</string>
	<key>cycleThanBridge</key>
	<string>gramAwayValue</string>
	<key>functionalBatchBrightness</key>
	<string>taskStrategyPressure</string>
	<key>observerInTier</key>
	<string>resilientSpecifierScale</string>
	<key>queryPerJob</key>
	<string>grainNearAdapter</string>
	<key>sampleAgainstFacade</key>
	<string>alphaBufferFormat</string>
	<key>sortedViewDelay</key>
	<string>graphStageSize</string>
</dict>
</plist>
