<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateBridgeAlignment</key>
	<string>typicalRemainderAlignment</string>
	<key>collectionPlatformIndex</key>
	<string>zoneFormRotation</string>
	<key>cubitThroughPhase</key>
	<string>assetWithVariable</string>
	<key>indicatorAmongDecorator</key>
	<string>cursorWithPlatform</string>
	<key>particleAdapterBottom</key>
	<string>protectedSizeOrigin</string>
	<key>permanentMobxOffset</key>
	<string>matrixEnvironmentForce</string>
	<key>statelessSpotVisible</key>
	<string>menuExceptKind</string>
	<key>vectorMethodCount</key>
	<string>logInTemple</string>
</dict>
</plist>
