<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedOptimizerSpacing</key>
	<string>unactivatedGrayscaleVisible</string>
	<key>graphicAlongSystem</key>
	<string>typicalGestureDistance</string>
	<key>materialSliderSize</key>
	<string>compositionalAperturePressure</string>
	<key>normalBorderFlags</key>
	<string>nativeDropdownbuttonSpacing</string>
	<key>observerThanState</key>
	<string>asyncProviderForce</string>
	<key>priorApertureDelay</key>
	<string>musicOrStyle</string>
	<key>tweenNumberShape</key>
	<string>parallelIntensityCount</string>
</dict>
</plist>
