<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionThanBuffer</key>
	<string>granularToolBorder</string>
	<key>newestCompositionSpacing</key>
	<string>invisibleAppbarResponse</string>
	<key>referenceByLevel</key>
	<string>streamLevelDuration</string>
	<key>symbolByParameter</key>
	<string>singletonDuringPhase</string>
	<key>unactivatedLayoutSaturation</key>
	<string>singleButtonBorder</string>
</dict>
</plist>
