<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMediaqueryIndex</key>
	<string>containerContainNumber</string>
	<key>capacitiesFromChain</key>
	<string>protectedCatalystFormat</string>
	<key>geometricCurveBrightness</key>
	<string>descriptionForParam</string>
	<key>grainBesideContext</key>
	<string>storeMediatorForce</string>
	<key>scaffoldShapeForce</key>
	<string>timerCycleRate</string>
</dict>
</plist>
