<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCaptionOrigin</key>
	<string>presenterJobVisibility</string>
	<key>borderCommandFormat</key>
	<string>singleProfileDirection</string>
	<key>catalystThanVar</key>
	<string>graphNearTier</string>
	<key>chapterBesideJob</key>
	<string>textStateMode</string>
	<key>difficultMovementPosition</key>
	<string>screenUntilState</string>
	<key>labelOrShape</key>
	<string>plateOperationAlignment</string>
	<key>multiplicationAmongCommand</key>
	<string>nodeWithBridge</string>
	<key>sineLikeTier</key>
	<string>textVisitorBound</string>
	<key>subscriptionBesideSingleton</key>
	<string>alignmentAsPrototype</string>
	<key>vectorInObserver</key>
	<string>storyboardVersusForm</string>
</dict>
</plist>
