<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentTemplePressure</key>
	<string>gramFromFramework</string>
	<key>keySpecifierPadding</key>
	<string>positionedPatternColor</string>
	<key>parallelWidgetTheme</key>
	<string>overlayThanOperation</string>
	<key>protocolTypeCenter</key>
	<string>semanticContainerAppearance</string>
	<key>scaffoldAroundContext</key>
	<string>delegateAmongFramework</string>
	<key>stateFormRate</key>
	<string>curveThroughEnvironment</string>
	<key>switchIncludeMediator</key>
	<string>vectorPatternMargin</string>
	<key>textureProxyKind</key>
	<string>aspectratioParameterLeft</string>
	<key>timerByValue</key>
	<string>sinkParameterDelay</string>
</dict>
</plist>
