<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryAwayActivity</key>
	<string>interpolationVisitorVisible</string>
	<key>globalTabviewTag</key>
	<string>delegateAlongMethod</string>
	<key>greatSessionMode</key>
	<string>buttonPhaseSpeed</string>
	<key>signatureValueInset</key>
	<string>mobileActivityEdge</string>
	<key>specifyBufferInterval</key>
	<string>appbarCompositeSize</string>
	<key>textfieldMementoSpeed</key>
	<string>containerWithoutPlatform</string>
	<key>toolMediatorName</key>
	<string>desktopChartVelocity</string>
</dict>
</plist>
