<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStateMargin</key>
	<string>collectionLevelTension</string>
	<key>flexKindSaturation</key>
	<string>pinchablePageviewOrigin</string>
	<key>immediateSliderVelocity</key>
	<string>transformerOfDecorator</string>
	<key>mainTechniqueTransparency</key>
	<string>isolateDuringVisitor</string>
	<key>providerByPlatform</key>
	<string>visibleQueryShade</string>
	<key>resultInsideObserver</key>
	<string>storeAboutKind</string>
	<key>specifyTopicCoord</key>
	<string>channelsJobBrightness</string>
</dict>
</plist>
