<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleLevelSpacing</key>
	<string>displayablePageviewPosition</string>
	<key>chapterThanFlyweight</key>
	<string>callbackLikeSingleton</string>
	<key>configurationContainTask</key>
	<string>cartesianRowName</string>
	<key>cupertinoCertificateDirection</key>
	<string>sessionLikeBuffer</string>
	<key>entropyInVariable</key>
	<string>mainFragmentCenter</string>
	<key>paddingScopeMargin</key>
	<string>subscriptionLevelVelocity</string>
</dict>
</plist>
