<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioOrTier</key>
	<string>synchronousScaffoldShade</string>
	<key>callbackWithChain</key>
	<string>actionForFunction</string>
	<key>desktopBrushMomentum</key>
	<string>disparateAccessoryHead</string>
	<key>invisibleSpritePressure</key>
	<string>numericalHeroBehavior</string>
	<key>oldEffectDirection</key>
	<string>eagerCompletionOrientation</string>
	<key>topicFromCycle</key>
	<string>notifierContextSpacing</string>
</dict>
</plist>
