<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelObserverEdge</key>
	<string>riverpodLikeMediator</string>
	<key>customizedDecorationPadding</key>
	<string>hyperbolicDropdownbuttonDirection</string>
	<key>expandedAdapterBottom</key>
	<string>subtleTextureCenter</string>
	<key>flexiblePetOffset</key>
	<string>lostPaddingBehavior</string>
	<key>grainOrOperation</key>
	<string>standalonePrecisionBorder</string>
	<key>opaqueRadioVelocity</key>
	<string>cursorContainStrategy</string>
	<key>subscriptionContainSingleton</key>
	<string>fixedIntensityOpacity</string>
	<key>switchAtParameter</key>
	<string>dropdownbuttonFlyweightStatus</string>
</dict>
</plist>
