<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureParamRight</key>
	<string>spotDuringLevel</string>
	<key>repositoryPatternTail</key>
	<string>interactorTierDensity</string>
	<key>scrollableInterfaceSkewx</key>
	<string>draggableRequestSpeed</string>
</dict>
</plist>
