<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorLayerScale</key>
	<string>deferredLayerHead</string>
	<key>handlerStateTension</key>
	<string>spritePerWork</string>
	<key>observerDecoratorPadding</key>
	<string>rowActivityBehavior</string>
	<key>sensorContainCycle</key>
	<string>lastResultTint</string>
	<key>sizeSinceObserver</key>
	<string>crucialTitleOrientation</string>
	<key>slashScopeTension</key>
	<string>opaqueLogLeft</string>
	<key>sortedDescriptorFormat</key>
	<string>resourcePlatformCenter</string>
</dict>
</plist>
