<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAsyncRotation</key>
	<string>mutableCurveDirection</string>
	<key>dedicatedBuilderKind</key>
	<string>materialLossTheme</string>
	<key>disabledSpineBorder</key>
	<string>heapThanLayer</string>
	<key>dropdownbuttonFromFacade</key>
	<string>animationStrategyTension</string>
	<key>keySpineDelay</key>
	<string>diffableDurationDensity</string>
	<key>labelStructureTension</key>
	<string>widgetPlatformScale</string>
	<key>liteMediaSize</key>
	<string>lastBlocDelay</string>
	<key>specifyApertureScale</key>
	<string>temporaryTechniqueTransparency</string>
	<key>textAgainstTemple</key>
	<string>relationalStampRate</string>
	<key>titleActionAcceleration</key>
	<string>discardedCurveSize</string>
</dict>
</plist>
