<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOutsideKind</key>
	<string>protocolCycleState</string>
	<key>discardedControllerSize</key>
	<string>layoutThroughStructure</string>
	<key>imageKindInteraction</key>
	<string>buttonPrototypeStyle</string>
	<key>immediatePaddingFormat</key>
	<string>standaloneConfigurationFrequency</string>
	<key>localLabelType</key>
	<string>curveAsInterpreter</string>
	<key>mobxCycleTheme</key>
	<string>pointNumberAppearance</string>
	<key>standaloneCacheFeedback</key>
	<string>pivotalFutureInset</string>
	<key>streamWithOperation</key>
	<string>notifierExceptInterpreter</string>
	<key>topicContextBound</key>
	<string>interfaceVarVisible</string>
</dict>
</plist>
