<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTopicVisible</key>
	<string>pivotalStreamTheme</string>
	<key>entityAtVar</key>
	<string>numericalAlignmentAlignment</string>
	<key>globalGraphicDensity</key>
	<string>imageIncludePrototype</string>
	<key>granularCustompaintTop</key>
	<string>drawerModeStyle</string>
	<key>greatConfigurationEdge</key>
	<string>autoRadioKind</string>
	<key>inkwellPerVisitor</key>
	<string>easyCertificateVelocity</string>
	<key>otherBinaryIndex</key>
	<string>binaryFlyweightRate</string>
	<key>prevActionInteraction</key>
	<string>stepNumberShape</string>
	<key>reusableDialogsResponse</key>
	<string>tensorAnimatedcontainerInterval</string>
	<key>statelessLocalizationSkewx</key>
	<string>liteBufferState</string>
</dict>
</plist>
