<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFacadeFeedback</key>
	<string>reductionOfVisitor</string>
	<key>anchorTypeAcceleration</key>
	<string>sharedGiftState</string>
	<key>borderDespiteChain</key>
	<string>buttonFormSkewx</string>
	<key>clipperThroughMediator</key>
	<string>profileActivityTension</string>
	<key>configurationAndChain</key>
	<string>interpolationAboutCommand</string>
	<key>cubitBesideObserver</key>
	<string>durationAwayContext</string>
	<key>signCompositeCount</key>
	<string>easyDependencyTag</string>
	<key>stateBridgeVisible</key>
	<string>activityBeyondFramework</string>
	<key>storageVersusBridge</key>
	<string>nodeContainStyle</string>
</dict>
</plist>
