<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerFrameworkStyle</key>
	<string>spriteVersusSystem</string>
	<key>concreteSizeBound</key>
	<string>unaryObserverTail</string>
	<key>containerJobForce</key>
	<string>asyncOutsideEnvironment</string>
	<key>deferredLayoutDistance</key>
	<string>textureThroughProxy</string>
	<key>entityAroundTemple</key>
	<string>loopInPlatform</string>
	<key>localizationOperationCoord</key>
	<string>coordinatorSingletonRate</string>
	<key>managerJobType</key>
	<string>sharedCatalystForce</string>
</dict>
</plist>
