<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTextDepth</key>
	<string>anchorContainNumber</string>
	<key>canvasPhaseDelay</key>
	<string>actionObserverVisibility</string>
	<key>explicitNavigatorSaturation</key>
	<string>tangentCycleState</string>
	<key>listenerChainTheme</key>
	<string>previewWorkBound</string>
	<key>mobileBuilderOrientation</key>
	<string>interactiveGesturedetectorTail</string>
	<key>sessionProxyHead</key>
	<string>rowNearPhase</string>
	<key>subscriptionStrategyOrigin</key>
	<string>dedicatedGestureForce</string>
	<key>vectorAroundPattern</key>
	<string>publicBitrateIndex</string>
</dict>
</plist>
