<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureCommandTop</key>
	<string>dropdownbuttonLevelLeft</string>
	<key>framePhaseKind</key>
	<string>gestureParamAppearance</string>
	<key>gramNumberDelay</key>
	<string>nativeOverlayKind</string>
	<key>hyperbolicCommandDepth</key>
	<string>factoryBridgeInset</string>
	<key>primaryIsolatePosition</key>
	<string>visibleSizeStyle</string>
	<key>singleProtocolForce</key>
	<string>disabledBlocVisible</string>
	<key>statefulIconForce</key>
	<string>diffableMomentumDensity</string>
	<key>streamAdapterSkewy</key>
	<string>repositoryViaInterpreter</string>
	<key>unactivatedLayoutVisible</key>
	<string>metadataSystemFeedback</string>
</dict>
</plist>
