<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectDespiteStage</key>
	<string>iterativeIntensityTint</string>
	<key>constraintContextDepth</key>
	<string>popupWithoutStage</string>
	<key>crucialStreamMargin</key>
	<string>positionIncludeKind</string>
	<key>materialParameterForce</key>
	<string>finalDurationTail</string>
	<key>modelAsParam</key>
	<string>webAnimationTag</string>
	<key>modelStyleAcceleration</key>
	<string>protectedControllerSpacing</string>
	<key>pinchableFutureKind</key>
	<string>storyboardNearMemento</string>
	<key>protocolCycleAlignment</key>
	<string>symbolStrategyContrast</string>
	<key>techniqueSingletonValidation</key>
	<string>controllerOrFlyweight</string>
</dict>
</plist>
