<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonProcessType</key>
	<string>queryMementoName</string>
	<key>effectOutsideTier</key>
	<string>taskOperationPadding</string>
	<key>reactiveFrameDepth</key>
	<string>publicInterfaceDensity</string>
</dict>
</plist>
