<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowWithInterpreter</key>
	<string>matrixAgainstActivity</string>
	<key>largeExceptionTheme</key>
	<string>localEventVisible</string>
	<key>requiredDecorationSize</key>
	<string>extensionAlongOperation</string>
	<key>resolverAdapterScale</key>
	<string>signVisitorLeft</string>
	<key>serviceThanProcess</key>
	<string>tickerScopeRate</string>
	<key>stackOutsidePrototype</key>
	<string>hardLabelHue</string>
</dict>
</plist>
