<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorThanType</key>
	<string>histogramIncludeLayer</string>
	<key>decorationDuringFacade</key>
	<string>bufferAwayChain</string>
	<key>hyperbolicBlocBrightness</key>
	<string>isolateInMode</string>
	<key>otherStoreVisible</key>
	<string>similarTextfieldIndex</string>
	<key>rapidTransformerInterval</key>
	<string>painterStateName</string>
	<key>resilientTransformerTag</key>
	<string>crudeTouchPadding</string>
	<key>significantLayerBound</key>
	<string>viewVisitorShade</string>
	<key>skirtAboutJob</key>
	<string>bulletParameterDistance</string>
</dict>
</plist>
