<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxNearSystem</key>
	<string>columnChainKind</string>
	<key>handlerForStructure</key>
	<string>flexibleMapMargin</string>
	<key>isolateAmongFacade</key>
	<string>tangentTierPressure</string>
	<key>resultTypeTag</key>
	<string>positionThanCycle</string>
	<key>subscriptionPlatformBrightness</key>
	<string>skirtAgainstVar</string>
	<key>transitionAroundProcess</key>
	<string>singleConfigurationBottom</string>
	<key>utilBufferStyle</key>
	<string>delegateActivityInterval</string>
</dict>
</plist>
