<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSpotScale</key>
	<string>capsuleExceptEnvironment</string>
	<key>appbarKindInteraction</key>
	<string>custompaintCommandOpacity</string>
	<key>consumerFromActivity</key>
	<string>usecaseLikeVariable</string>
	<key>convolutionPrototypeTint</key>
	<string>positionedThanMediator</string>
	<key>exponentThanVisitor</key>
	<string>indicatorOrPattern</string>
	<key>granularReferenceFrequency</key>
	<string>decorationProcessColor</string>
	<key>kernelIncludeForm</key>
	<string>dependencyContextCenter</string>
	<key>mapAroundEnvironment</key>
	<string>gradientValueOffset</string>
	<key>permissiveRouterScale</key>
	<string>asyncJobDuration</string>
	<key>utilDuringPhase</key>
	<string>managerCycleInterval</string>
</dict>
</plist>
