<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLevelStatus</key>
	<string>checklistOfPlatform</string>
	<key>entityFlyweightResponse</key>
	<string>callbackLikeFramework</string>
	<key>intuitiveRowFlags</key>
	<string>usedGridState</string>
	<key>sortedInteractorRotation</key>
	<string>constraintContainProxy</string>
</dict>
</plist>
