<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFrameworkOrientation</key>
	<string>tableAlongFunction</string>
	<key>missedSceneTension</key>
	<string>channelOfNumber</string>
	<key>positionOperationRotation</key>
	<string>factoryAlongFacade</string>
	<key>rectActivityResponse</key>
	<string>shaderTypeAcceleration</string>
</dict>
</plist>
