<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStateSize</key>
	<string>normWithParam</string>
	<key>hierarchicalNodeKind</key>
	<string>gemVariableTail</string>
	<key>loopFrameworkVelocity</key>
	<string>listviewAmongFramework</string>
	<key>managerCompositeLocation</key>
	<string>consumerBeyondBridge</string>
	<key>painterMediatorShape</key>
	<string>interfaceTypeSize</string>
	<key>positionByLevel</key>
	<string>decorationAboutVar</string>
	<key>protocolContextState</key>
	<string>serviceViaProcess</string>
	<key>sensorAtLevel</key>
	<string>builderLikeWork</string>
</dict>
</plist>
