<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorValueAppearance</key>
	<string>otherAlignmentTop</string>
	<key>capacitiesTempleCount</key>
	<string>sophisticatedContainerBorder</string>
	<key>enabledCapsuleFormat</key>
	<string>gemLayerInteraction</string>
	<key>marginDecoratorBehavior</key>
	<string>builderScopeName</string>
	<key>optionChainInset</key>
	<string>entropyBeyondJob</string>
	<key>singleDelegateScale</key>
	<string>gradientViaComposite</string>
	<key>tablePrototypeIndex</key>
	<string>observerLevelKind</string>
</dict>
</plist>
