<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorContextVelocity</key>
	<string>navigatorMethodContrast</string>
	<key>hierarchicalSampleBottom</key>
	<string>skinChainInset</string>
	<key>labelContainLevel</key>
	<string>skirtCycleVisibility</string>
	<key>masterProcessDirection</key>
	<string>queryPrototypeTransparency</string>
	<key>menuNumberTint</key>
	<string>arithmeticNumberMode</string>
	<key>pointBeyondBuffer</key>
	<string>giftValueRight</string>
	<key>substantialSpotSpeed</key>
	<string>cosineAgainstNumber</string>
	<key>synchronousExpandedBound</key>
	<string>independentBinaryHead</string>
	<key>textureMediatorTop</key>
	<string>responsiveFutureKind</string>
</dict>
</plist>
