<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionPlatformTransparency</key>
	<string>touchStructureMode</string>
	<key>curveFrameworkBehavior</key>
	<string>marginLikeFacade</string>
	<key>equipmentInterpreterTag</key>
	<string>greatDescriptorForce</string>
	<key>exceptionWithChain</key>
	<string>currentProjectionResponse</string>
	<key>persistentSpecifierInterval</key>
	<string>getxAtWork</string>
	<key>rowAgainstMode</key>
	<string>featureScopeFormat</string>
	<key>signatureWorkInteraction</key>
	<string>paddingStrategyEdge</string>
	<key>sizeDecoratorCoord</key>
	<string>projectBesideStrategy</string>
	<key>statefulTaskSize</key>
	<string>delicateCubitAlignment</string>
	<key>widgetAndComposite</key>
	<string>graphExceptType</string>
</dict>
</plist>
