<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectInChain</key>
	<string>checkboxOutsideFacade</string>
	<key>memberOfProcess</key>
	<string>routeMementoInset</string>
	<key>numericalListviewVisible</key>
	<string>lastLocalizationMargin</string>
	<key>operationTierForce</key>
	<string>imperativeUtilAcceleration</string>
	<key>reductionValueKind</key>
	<string>imperativeGroupColor</string>
</dict>
</plist>
