<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperCommandShade</key>
	<string>interactiveProviderIndex</string>
	<key>concreteRadiusStatus</key>
	<string>notificationLevelTint</string>
	<key>dependencyTierTension</key>
	<string>basicRouterMargin</string>
	<key>liteVariantTop</key>
	<string>unactivatedZoneFlags</string>
	<key>segueVisitorDirection</key>
	<string>stepOrContext</string>
	<key>storageTierFeedback</key>
	<string>modulusPlatformShape</string>
	<key>textureDespiteValue</key>
	<string>sustainableCommandHead</string>
	<key>usageScopeSkewx</key>
	<string>animationDuringContext</string>
</dict>
</plist>
