<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerPerScope</key>
	<string>blocJobRight</string>
	<key>cubeStyleTag</key>
	<string>isolateThroughWork</string>
	<key>observerThanPrototype</key>
	<string>euclideanAnimationFlags</string>
	<key>publicContractionInterval</key>
	<string>storyboardForJob</string>
	<key>querySinceSystem</key>
	<string>appbarProcessVisibility</string>
	<key>resolverJobHue</key>
	<string>screenInsideType</string>
	<key>symmetricCapacitiesStyle</key>
	<string>hierarchicalCycleTransparency</string>
	<key>unactivatedCoordinatorValidation</key>
	<string>segueAwayLayer</string>
</dict>
</plist>
