<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeEffectFlags</key>
	<string>promiseValueFlags</string>
	<key>displayableStorageName</key>
	<string>currentRequestResponse</string>
	<key>navigationObserverVisibility</key>
	<string>touchVisitorRight</string>
	<key>queryUntilObserver</key>
	<string>storageAndOperation</string>
	<key>resizableCoordinatorOpacity</key>
	<string>inactiveCacheForce</string>
	<key>sinePhaseOrientation</key>
	<string>concreteCursorLocation</string>
</dict>
</plist>
