<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralRichtextOffset</key>
	<string>layerInsideNumber</string>
	<key>intermediateIconValidation</key>
	<string>visibleGridviewPadding</string>
	<key>invisibleModulusInset</key>
	<string>matrixSingletonDepth</string>
	<key>masterDecoratorTheme</key>
	<string>explicitCheckboxFrequency</string>
	<key>queryTypeBehavior</key>
	<string>vectorVariableResponse</string>
	<key>requiredEntropyCoord</key>
	<string>metadataWorkOpacity</string>
	<key>sharedActivityHead</key>
	<string>independentWorkflowFlags</string>
	<key>taskSystemBottom</key>
	<string>widgetFromSystem</string>
</dict>
</plist>
