<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAsSingleton</key>
	<string>immediateTextName</string>
	<key>asyncWidgetSize</key>
	<string>sortedTweenLocation</string>
	<key>curveViaFlyweight</key>
	<string>chartActivityStatus</string>
	<key>layoutBridgeCenter</key>
	<string>logTypeRotation</string>
	<key>mobileSubscriptionInterval</key>
	<string>animationWorkCoord</string>
	<key>newestDecorationPressure</key>
	<string>chartByShape</string>
	<key>pinchableStatelessVelocity</key>
	<string>builderSinceProcess</string>
	<key>projectionAwayPlatform</key>
	<string>cellProcessRotation</string>
	<key>resultThanTemple</key>
	<string>providerSystemFlags</string>
</dict>
</plist>
