<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentJobOrigin</key>
	<string>transitionParamPosition</string>
	<key>drawerLikeAdapter</key>
	<string>independentDecorationSkewy</string>
	<key>frameSinceLayer</key>
	<string>observerPlatformTop</string>
	<key>independentStatefulShape</key>
	<string>observerWorkVisibility</string>
	<key>inheritedStorageVisibility</key>
	<string>serviceVersusFacade</string>
	<key>spotSinceMode</key>
	<string>offsetMementoForce</string>
</dict>
</plist>
