<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaMethodType</key>
	<string>constraintParamOrientation</string>
	<key>animationInsideTier</key>
	<string>layoutSystemMode</string>
	<key>directlySubpixelDepth</key>
	<string>signByWork</string>
	<key>handlerIncludeStrategy</key>
	<string>asyncAtValue</string>
	<key>layerSingletonLeft</key>
	<string>transitionBridgeTransparency</string>
	<key>memberInOperation</key>
	<string>statefulAsParam</string>
	<key>permanentBitrateRight</key>
	<string>alignmentViaParam</string>
</dict>
</plist>
