<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionThanWork</key>
	<string>arithmeticChecklistSpacing</string>
	<key>cycleAtAction</key>
	<string>viewSinceFlyweight</string>
	<key>granularSizedboxHue</key>
	<string>statefulWithLayer</string>
	<key>managerActionFlags</key>
	<string>labelViaPattern</string>
	<key>mediocreOverlayTint</key>
	<string>smartInterfaceCount</string>
	<key>tangentAsShape</key>
	<string>offsetActionTail</string>
</dict>
</plist>
