<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRouteMomentum</key>
	<string>gestureProxySkewy</string>
	<key>chartAroundWork</key>
	<string>activeStorageBottom</string>
	<key>elasticSineDirection</key>
	<string>webReducerRate</string>
	<key>parallelTangentIndex</key>
	<string>navigatorProxyShape</string>
	<key>providerPhaseBottom</key>
	<string>permissiveRequestInterval</string>
	<key>specifyScaleHue</key>
	<string>taskDuringMethod</string>
	<key>standaloneCursorRotation</key>
	<string>ephemeralNavigatorDepth</string>
</dict>
</plist>
