<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFacadeSpacing</key>
	<string>arithmeticProviderDirection</string>
	<key>eagerPositionVisible</key>
	<string>builderAboutPattern</string>
	<key>easySymbolMargin</key>
	<string>modelVisitorDensity</string>
	<key>ephemeralFrameOrientation</key>
	<string>navigationStructureOpacity</string>
	<key>mobileResultInset</key>
	<string>buttonCompositeLeft</string>
	<key>secondCompleterName</key>
	<string>permissiveSwitchVelocity</string>
	<key>signatureOutsideLayer</key>
	<string>slashFromJob</string>
	<key>synchronousInteractorStatus</key>
	<string>cubitWorkTheme</string>
</dict>
</plist>
