<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonPatternLeft</key>
	<string>controllerStyleRate</string>
	<key>coordinatorSinceFlyweight</key>
	<string>groupWithDecorator</string>
	<key>getxViaMediator</key>
	<string>spineDespiteProxy</string>
	<key>histogramViaVariable</key>
	<string>petNearStrategy</string>
	<key>intuitiveAnimationBottom</key>
	<string>usecaseAndContext</string>
	<key>lazyStorageColor</key>
	<string>sequentialNodeShape</string>
	<key>metadataCompositeTag</key>
	<string>gridAsType</string>
	<key>resourceAndStage</key>
	<string>rectInFlyweight</string>
	<key>temporaryStoryboardKind</key>
	<string>boxPhaseSaturation</string>
	<key>usedPresenterFeedback</key>
	<string>autoAsyncPadding</string>
</dict>
</plist>
