<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianQueryPadding</key>
	<string>errorBeyondChain</string>
	<key>graphSystemEdge</key>
	<string>methodFacadeRight</string>
	<key>hardCustompaintSkewy</key>
	<string>nibValueRotation</string>
	<key>resolverIncludeStage</key>
	<string>viewVarAppearance</string>
	<key>topicLevelCenter</key>
	<string>ignoredAppbarOpacity</string>
</dict>
</plist>
