<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionOffsetState</key>
	<string>containerMethodColor</string>
	<key>consultativeTitleBrightness</key>
	<string>checklistOrNumber</string>
	<key>gemWithoutPlatform</key>
	<string>assetFlyweightOrigin</string>
	<key>greatLabelStatus</key>
	<string>opaqueGrainCount</string>
	<key>invisibleProtocolVelocity</key>
	<string>semanticWidgetVelocity</string>
	<key>notificationAwayObserver</key>
	<string>concreteTextPadding</string>
	<key>paddingKindTag</key>
	<string>radioProcessStatus</string>
	<key>resourceAwayActivity</key>
	<string>fragmentVarDistance</string>
	<key>riverpodStructureAppearance</key>
	<string>plateIncludeMode</string>
	<key>textfieldTempleOrigin</key>
	<string>textfieldParameterBorder</string>
</dict>
</plist>
