<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionOfStructure</key>
	<string>arithmeticViaBuffer</string>
	<key>completerInsideWork</key>
	<string>specifierExceptChain</string>
	<key>navigatorSingletonRate</key>
	<string>dropdownbuttonPrototypeContrast</string>
	<key>pivotalTransitionInset</key>
	<string>reactiveLayerTag</string>
	<key>rectValueTransparency</key>
	<string>directlyTaskInteraction</string>
	<key>segmentDespiteMode</key>
	<string>effectVariableInterval</string>
	<key>segueBesideBuffer</key>
	<string>interfaceWithoutChain</string>
	<key>spineAtSystem</key>
	<string>durationPerMethod</string>
	<key>subpixelWorkLocation</key>
	<string>errorEnvironmentTag</string>
	<key>workflowLayerVisibility</key>
	<string>invisibleChartTransparency</string>
</dict>
</plist>
