<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSubpixelRate</key>
	<string>callbackNearJob</string>
	<key>boxThroughContext</key>
	<string>sinkAroundProcess</string>
	<key>custompaintProxyScale</key>
	<string>responsiveHandlerSize</string>
	<key>decorationVariableCoord</key>
	<string>curvePlatformBorder</string>
	<key>dropdownbuttonDespiteState</key>
	<string>buttonStyleVisible</string>
	<key>injectionFormShape</key>
	<string>interfaceAdapterTension</string>
	<key>localPointVisible</key>
	<string>storageOperationResponse</string>
	<key>pivotalGradientAcceleration</key>
	<string>touchStateEdge</string>
	<key>reactiveMethodTop</key>
	<string>animationDuringFlyweight</string>
</dict>
</plist>
