<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableApertureTail</key>
	<string>keyQueryFormat</string>
	<key>geometricCharacterSpeed</key>
	<string>deferredGradientSkewx</string>
	<key>mobxViaTask</key>
	<string>transformerContainFunction</string>
	<key>operationOutsideVisitor</key>
	<string>substantialProviderTheme</string>
	<key>synchronousAccessoryOpacity</key>
	<string>gridParamIndex</string>
	<key>unactivatedMultiplicationPadding</key>
	<string>oldApertureMomentum</string>
</dict>
</plist>
