<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSinceAdapter</key>
	<string>mainInkwellAcceleration</string>
	<key>axisSinceJob</key>
	<string>mutableGridType</string>
	<key>decorationStageName</key>
	<string>sampleStructureSpeed</string>
	<key>discardedStateTag</key>
	<string>usedCacheTint</string>
	<key>handlerParameterLeft</key>
	<string>offsetFunctionHead</string>
	<key>interactorStructureName</key>
	<string>entityAmongOperation</string>
	<key>marginVisitorPosition</key>
	<string>featureAdapterPadding</string>
	<key>materialLayerSpacing</key>
	<string>cubeVarPadding</string>
	<key>sizeLikeFacade</key>
	<string>specifyProgressbarLeft</string>
</dict>
</plist>
