<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeConfigurationPadding</key>
	<string>handlerPlatformDensity</string>
	<key>channelsInInterpreter</key>
	<string>staticTextAlignment</string>
	<key>eventMethodTint</key>
	<string>menuDuringShape</string>
	<key>iterativeObserverTransparency</key>
	<string>compositionInsideBuffer</string>
	<key>modelInsideChain</key>
	<string>injectionPerWork</string>
	<key>referenceNumberScale</key>
	<string>referenceWithoutActivity</string>
	<key>semanticExtensionOpacity</key>
	<string>mediocreMatrixVelocity</string>
	<key>staticSpecifierCoord</key>
	<string>intuitiveOptionDepth</string>
	<key>streamPhaseDelay</key>
	<string>requestCompositeFeedback</string>
</dict>
</plist>
