<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveEntityFrequency</key>
	<string>durationFromPhase</string>
	<key>allocatorPrototypeSkewy</key>
	<string>containerLevelPressure</string>
	<key>aspectVersusFlyweight</key>
	<string>callbackParameterOpacity</string>
	<key>buttonObserverDensity</key>
	<string>sampleLikeForm</string>
	<key>cacheFunctionSpeed</key>
	<string>subsequentSwiftTail</string>
	<key>hashPrototypeResponse</key>
	<string>chapterCommandTag</string>
	<key>indicatorVisitorRight</key>
	<string>statelessSessionFormat</string>
	<key>mediocreChecklistVisible</key>
	<string>configurationJobVelocity</string>
	<key>subsequentControllerSkewy</key>
	<string>stateContainProxy</string>
	<key>toolInsideParameter</key>
	<string>dynamicEntityState</string>
</dict>
</plist>
