<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentSystemTail</key>
	<string>anchorWithoutProxy</string>
	<key>grainByAdapter</key>
	<string>textureTierLocation</string>
	<key>listviewInsideStructure</key>
	<string>responsiveSingletonVisible</string>
	<key>menuPatternOffset</key>
	<string>tabbarAndChain</string>
	<key>typicalDescriptorFeedback</key>
	<string>petWithActivity</string>
</dict>
</plist>
