<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAsTask</key>
	<string>constProviderRight</string>
	<key>interpolationProcessPosition</key>
	<string>tableContainComposite</string>
	<key>listenerByMediator</key>
	<string>queueTempleCoord</string>
	<key>nextDelegateFormat</key>
	<string>durationMementoLeft</string>
	<key>priorityAboutMemento</key>
	<string>futurePerProcess</string>
	<key>shaderThanContext</key>
	<string>tabbarViaProxy</string>
</dict>
</plist>
