<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStructureBound</key>
	<string>challengeOrContext</string>
	<key>mainWidgetTop</key>
	<string>containerAgainstInterpreter</string>
	<key>significantExponentVisible</key>
	<string>descriptionBridgeStyle</string>
	<key>utilAsLayer</key>
	<string>behaviorUntilValue</string>
</dict>
</plist>
