<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAndLevel</key>
	<string>inactivePlateMargin</string>
	<key>convolutionShapeContrast</key>
	<string>presenterThroughChain</string>
	<key>delegateByTask</key>
	<string>certificateDespiteMode</string>
	<key>directlyProfileShape</key>
	<string>frameCompositeAppearance</string>
	<key>easyTitleSkewy</key>
	<string>singleConstraintSaturation</string>
	<key>eventInSingleton</key>
	<string>sinkSystemCount</string>
	<key>invisibleAspectratioRight</key>
	<string>diversifiedPlaybackDepth</string>
	<key>layerAroundEnvironment</key>
	<string>segueLevelVisibility</string>
	<key>multiDrawerResponse</key>
	<string>prismaticImageTension</string>
</dict>
</plist>
