<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionFacadeEdge</key>
	<string>callbackActivitySkewx</string>
	<key>contractionAwayAction</key>
	<string>featureVariableRate</string>
	<key>draggableLoopBottom</key>
	<string>popupLayerName</string>
	<key>indicatorBufferDelay</key>
	<string>durationCycleFeedback</string>
	<key>modulusLevelForce</key>
	<string>channelBeyondAction</string>
	<key>rowByVariable</key>
	<string>popupPatternInteraction</string>
	<key>tensorBitrateLocation</key>
	<string>consumerSingletonTop</string>
</dict>
</plist>
