<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionServiceDirection</key>
	<string>sharedButtonState</string>
	<key>concurrentResultTheme</key>
	<string>mutableTweenPosition</string>
	<key>draggableChannelPressure</key>
	<string>resultMethodSkewx</string>
	<key>multiplicationAlongProxy</key>
	<string>textureUntilProxy</string>
	<key>observerContextOffset</key>
	<string>singletonDuringContext</string>
	<key>smallPresenterFrequency</key>
	<string>layerParamDepth</string>
	<key>specifyPageviewRight</key>
	<string>finalGramTop</string>
</dict>
</plist>
