<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeWorkAcceleration</key>
	<string>storeContextFormat</string>
	<key>futureParameterType</key>
	<string>cycleStrategyOrientation</string>
	<key>popupDecoratorAcceleration</key>
	<string>topicPatternShape</string>
	<key>sineAroundChain</key>
	<string>persistentLogarithmContrast</string>
</dict>
</plist>
