<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultDelegateTint</key>
	<string>animationParameterMode</string>
	<key>eagerActionDistance</key>
	<string>draggableConfigurationCount</string>
	<key>futureDespiteVisitor</key>
	<string>paddingStructureDelay</string>
	<key>mainManagerVisibility</key>
	<string>swiftMementoSkewy</string>
	<key>popupTaskBrightness</key>
	<string>largeMatrixAcceleration</string>
	<key>queryJobShade</key>
	<string>batchByPhase</string>
</dict>
</plist>
