<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterProcessTag</key>
	<string>concurrentBaselineVisible</string>
	<key>handlerContainTemple</key>
	<string>primaryLayerAlignment</string>
	<key>positionEnvironmentSkewy</key>
	<string>smartCoordinatorEdge</string>
	<key>prevControllerTop</key>
	<string>subscriptionShapeCoord</string>
	<key>queryOutsideEnvironment</key>
	<string>diversifiedLoopPosition</string>
	<key>remainderDuringStrategy</key>
	<string>certificateAgainstMethod</string>
	<key>repositoryMementoScale</key>
	<string>referenceStrategySpacing</string>
	<key>semanticCurvePadding</key>
	<string>popupContainAction</string>
</dict>
</plist>
