<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorThanChain</key>
	<string>storyboardIncludeContext</string>
	<key>assetOperationContrast</key>
	<string>declarativeInterfacePressure</string>
	<key>builderExceptPattern</key>
	<string>sampleTierOffset</string>
	<key>buttonAsValue</key>
	<string>streamExceptTier</string>
	<key>checkboxParameterVelocity</key>
	<string>scrollableVariantResponse</string>
	<key>delegateShapeOrientation</key>
	<string>tappableCubitTension</string>
	<key>logarithmShapeKind</key>
	<string>constControllerIndex</string>
	<key>providerInterpreterDepth</key>
	<string>smallThreadTension</string>
	<key>routeContainCommand</key>
	<string>directlyNavigationLocation</string>
</dict>
</plist>
