<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedAssetTint</key>
	<string>responsiveOptimizerBorder</string>
	<key>delicateModalIndex</key>
	<string>metadataOutsideKind</string>
	<key>drawerThroughBuffer</key>
	<string>deferredStateAlignment</string>
	<key>drawerTypeSkewy</key>
	<string>smallRowMomentum</string>
	<key>effectOrMethod</key>
	<string>chartContainBuffer</string>
	<key>inheritedLogarithmTail</key>
	<string>navigatorThanBuffer</string>
	<key>liteRectRate</key>
	<string>eventVersusFunction</string>
	<key>similarSliderColor</key>
	<string>boxshadowVariableShape</string>
	<key>stampAtCycle</key>
	<string>baseCommandRotation</string>
	<key>visibleMenuHue</key>
	<string>remainderAwayCommand</string>
</dict>
</plist>
