<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTaskBottom</key>
	<string>viewIncludeForm</string>
	<key>cubeWithoutType</key>
	<string>symbolActivityBottom</string>
	<key>largeBufferTail</key>
	<string>equalizationOutsideMode</string>
	<key>managerStageSaturation</key>
	<string>optimizerWithStrategy</string>
	<key>presenterAmongStrategy</key>
	<string>comprehensiveEntityAlignment</string>
	<key>progressbarBeyondStrategy</key>
	<string>mediumStorageDuration</string>
	<key>tickerAndMemento</key>
	<string>concurrentAppbarAlignment</string>
	<key>transitionVariableTransparency</key>
	<string>usageKindVelocity</string>
</dict>
</plist>
