<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableSymbolContrast</key>
	<string>durationThroughParameter</string>
	<key>durationPlatformState</key>
	<string>semanticSinkShape</string>
	<key>exceptionInterpreterContrast</key>
	<string>resultByStyle</string>
	<key>localizationIncludePrototype</key>
	<string>memberNearSystem</string>
	<key>responseValueOpacity</key>
	<string>sizeDuringVariable</string>
	<key>symmetricRepositoryVisibility</key>
	<string>rowSinceVisitor</string>
	<key>tangentPatternPosition</key>
	<string>newestViewInset</string>
</dict>
</plist>
