<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterParameterContrast</key>
	<string>usecaseForMediator</string>
	<key>imageExceptAction</key>
	<string>concreteEntityContrast</string>
	<key>interfaceBesideStructure</key>
	<string>enabledModalInset</string>
	<key>slashVersusActivity</key>
	<string>chartLevelBorder</string>
	<key>tabbarOrComposite</key>
	<string>builderThanFacade</string>
</dict>
</plist>
