<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateCoordinatorSpacing</key>
	<string>imageWithTask</string>
	<key>movementStageFeedback</key>
	<string>disparateCursorStatus</string>
	<key>particleParamKind</key>
	<string>precisionCompositeState</string>
	<key>singleLossRotation</key>
	<string>gemAmongValue</string>
	<key>subscriptionTierCoord</key>
	<string>sizedboxIncludeTask</string>
</dict>
</plist>
