<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStyleDensity</key>
	<string>streamThanStrategy</string>
	<key>oldConstraintTop</key>
	<string>overlayParameterPadding</string>
	<key>scaleWorkLeft</key>
	<string>rowStructureShape</string>
	<key>tensorTopicContrast</key>
	<string>diversifiedNodeStyle</string>
	<key>viewMementoTint</key>
	<string>decorationLikeTier</string>
</dict>
</plist>
