<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSegueOffset</key>
	<string>similarRowMode</string>
	<key>constraintThroughWork</key>
	<string>resizableSpecifierSize</string>
	<key>directTweenValidation</key>
	<string>enabledThreadScale</string>
	<key>entityTypeIndex</key>
	<string>completerSystemShape</string>
	<key>fixedSpriteTail</key>
	<string>completionIncludeVisitor</string>
	<key>fusedRadiusLocation</key>
	<string>handlerNearMethod</string>
	<key>gridviewFromMediator</key>
	<string>semanticGrainLocation</string>
	<key>intermediateResourceOrientation</key>
	<string>uniformSampleSpacing</string>
	<key>resourceTaskFeedback</key>
	<string>assetPhaseBrightness</string>
	<key>subscriptionBeyondForm</key>
	<string>interfaceObserverState</string>
</dict>
</plist>
