<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFrameworkVisibility</key>
	<string>subscriptionBridgeIndex</string>
	<key>labelThanActivity</key>
	<string>equalizationTypeResponse</string>
	<key>popupByObserver</key>
	<string>parallelMatrixShape</string>
	<key>reductionPlatformType</key>
	<string>progressbarFromStrategy</string>
	<key>textInsideVariable</key>
	<string>protocolAtTask</string>
</dict>
</plist>
