<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphLikeAction</key>
	<string>mobileTextureEdge</string>
	<key>sceneMementoVisible</key>
	<string>composableMaterialTransparency</string>
	<key>statefulChartName</key>
	<string>stepLayerTop</string>
	<key>tableUntilContext</key>
	<string>actionShapeInset</string>
</dict>
</plist>
