<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDecoratorMargin</key>
	<string>semanticsTempleCount</string>
	<key>containerChainLocation</key>
	<string>hashObserverPadding</string>
	<key>interpolationCompositeDirection</key>
	<string>hyperbolicGetxSkewx</string>
	<key>materialSampleCenter</key>
	<string>layerThroughLevel</string>
	<key>metadataByPrototype</key>
	<string>explicitBuilderShade</string>
	<key>modelIncludeWork</key>
	<string>previewParamVisible</string>
	<key>popupPlatformAlignment</key>
	<string>skinVarLocation</string>
	<key>precisionPrototypeHue</key>
	<string>tabviewTempleVelocity</string>
</dict>
</plist>
