<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderScopeCenter</key>
	<string>clipperNumberSpacing</string>
	<key>builderVersusWork</key>
	<string>independentGraphOrigin</string>
	<key>histogramWithoutPlatform</key>
	<string>techniqueScopeType</string>
	<key>semanticMarginPosition</key>
	<string>giftAndMemento</string>
</dict>
</plist>
