<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaSystemInterval</key>
	<string>actionContainVar</string>
	<key>durationCompositeStyle</key>
	<string>globalCubitShade</string>
	<key>newestCoordinatorMargin</key>
	<string>sceneThroughState</string>
	<key>semanticRiverpodOrigin</key>
	<string>layoutWithoutLayer</string>
	<key>textInEnvironment</key>
	<string>mediaFunctionAlignment</string>
	<key>timerDespiteKind</key>
	<string>metadataActivityCoord</string>
</dict>
</plist>
