<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBesideMemento</key>
	<string>equipmentPrototypeContrast</string>
	<key>directlyZoneDirection</key>
	<string>sizeVariableInterval</string>
	<key>flexForMemento</key>
	<string>aspectParameterSpeed</string>
	<key>mainFrameBorder</key>
	<string>canvasWorkDistance</string>
	<key>signOrState</key>
	<string>repositoryAlongFramework</string>
	<key>temporaryUtilOrientation</key>
	<string>kernelOutsideOperation</string>
	<key>widgetVisitorAlignment</key>
	<string>painterInParam</string>
</dict>
</plist>
