<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleViewSkewy</key>
	<string>nodeAmongTask</string>
	<key>pivotalClipperOrigin</key>
	<string>resolverOfPrototype</string>
	<key>substantialNibMode</key>
	<string>binaryViaValue</string>
	<key>webCoordinatorTheme</key>
	<string>disabledBaselineResponse</string>
</dict>
</plist>
