<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDimensionFlags</key>
	<string>transitionCycleOrientation</string>
	<key>entropyCycleVelocity</key>
	<string>providerProxySkewy</string>
	<key>flexibleConsumerSkewx</key>
	<string>durationShapeRate</string>
	<key>logFromParameter</key>
	<string>canvasLikeBridge</string>
	<key>momentumCommandOrigin</key>
	<string>providerForFramework</string>
	<key>serviceEnvironmentAppearance</key>
	<string>tensorUnaryDelay</string>
	<key>sharedAllocatorSpacing</key>
	<string>listviewInsideInterpreter</string>
	<key>ternaryBridgeBehavior</key>
	<string>firstTextInterval</string>
</dict>
</plist>
