<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledPainterOpacity</key>
	<string>responsiveLayerShade</string>
	<key>loopDecoratorAppearance</key>
	<string>routeVariableSpacing</string>
	<key>mobileSizeTop</key>
	<string>globalTransitionMomentum</string>
	<key>modelAdapterRate</key>
	<string>tappableSliderCenter</string>
	<key>numericalAllocatorHue</key>
	<string>compositionalGridTail</string>
	<key>observerContextSpacing</key>
	<string>animatedcontainerScopeBrightness</string>
	<key>painterFlyweightTension</key>
	<string>catalystObserverShade</string>
	<key>previewCompositeTop</key>
	<string>specifyNotifierStyle</string>
	<key>rowAndLevel</key>
	<string>isolateContainOperation</string>
	<key>utilPrototypeHead</key>
	<string>custompaintWorkFeedback</string>
</dict>
</plist>
