<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCubitBound</key>
	<string>utilWithFunction</string>
	<key>blocExceptFunction</key>
	<string>compositionAboutStyle</string>
	<key>mutableProtocolBehavior</key>
	<string>visibleListviewFormat</string>
	<key>playbackStageMomentum</key>
	<string>listenerAroundAdapter</string>
	<key>transformerWithAction</key>
	<string>bitrateThroughPrototype</string>
</dict>
</plist>
