<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationFormTail</key>
	<string>reusableInterpolationTension</string>
	<key>numericalBlocContrast</key>
	<string>similarBatchStyle</string>
	<key>pointActivitySkewy</key>
	<string>crucialParticleShade</string>
	<key>ternaryChainBehavior</key>
	<string>presenterKindHue</string>
	<key>viewExceptPrototype</key>
	<string>requiredOptimizerBound</string>
</dict>
</plist>
