<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelFromParam</key>
	<string>particleViaOperation</string>
	<key>diversifiedSizeCenter</key>
	<string>dedicatedFutureShape</string>
	<key>errorAlongMethod</key>
	<string>titleProcessHead</string>
	<key>independentBrushCount</key>
	<string>interfaceActivityAppearance</string>
	<key>layoutWithoutNumber</key>
	<string>interpolationCycleHead</string>
	<key>methodModeTop</key>
	<string>adaptiveOptionCenter</string>
	<key>modalVarMomentum</key>
	<string>textMethodRight</string>
	<key>opaqueViewSaturation</key>
	<string>managerOrProxy</string>
	<key>optionBridgeRight</key>
	<string>usecaseAsFunction</string>
	<key>providerShapeIndex</key>
	<string>providerBufferDensity</string>
</dict>
</plist>
