<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCompositionBorder</key>
	<string>providerOutsidePrototype</string>
	<key>compositionSinceInterpreter</key>
	<string>metadataNumberLocation</string>
	<key>groupAlongTask</key>
	<string>painterAgainstStructure</string>
	<key>instructionNearState</key>
	<string>cursorAmongStage</string>
	<key>nextMobileSkewy</key>
	<string>statePatternCenter</string>
	<key>parallelMusicEdge</key>
	<string>resilientSliderBehavior</string>
	<key>sliderContextOrigin</key>
	<string>commandForProxy</string>
	<key>smartGroupAppearance</key>
	<string>serviceParameterLeft</string>
	<key>topicInDecorator</key>
	<string>denseRadioLeft</string>
</dict>
</plist>
