<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartVariableTension</key>
	<string>usedMovementMode</string>
	<key>comprehensiveStackOffset</key>
	<string>layoutDespiteChain</string>
	<key>difficultButtonDistance</key>
	<string>grayscaleCommandAlignment</string>
	<key>disparateWidgetPressure</key>
	<string>activityFunctionFlags</string>
	<key>integerWithoutForm</key>
	<string>cardPatternCoord</string>
	<key>providerAtWork</key>
	<string>significantTopicSkewx</string>
	<key>tabviewFunctionOffset</key>
	<string>unactivatedFlexTheme</string>
	<key>textSingletonVelocity</key>
	<string>reusableLoopMomentum</string>
</dict>
</plist>
