<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFromObserver</key>
	<string>routerAroundObserver</string>
	<key>canvasAgainstBridge</key>
	<string>menuBufferStyle</string>
	<key>commonAssetType</key>
	<string>disabledToolDepth</string>
	<key>draggableAnimationPadding</key>
	<string>numericalResultPosition</string>
	<key>layoutCompositeTop</key>
	<string>equalizationLayerPadding</string>
	<key>subsequentOverlaySpacing</key>
	<string>menuVisitorTheme</string>
	<key>workflowFrameworkTail</key>
	<string>persistentTweenFlags</string>
</dict>
</plist>
