<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateInsideParam</key>
	<string>lazyImageSpeed</string>
	<key>convolutionContextState</key>
	<string>bufferModeSkewy</string>
	<key>decorationStateLeft</key>
	<string>cardScopeSkewx</string>
	<key>effectLayerScale</key>
	<string>compositionOperationAppearance</string>
	<key>immediateSessionShape</key>
	<string>accordionPreviewSkewy</string>
	<key>positionedMethodTop</key>
	<string>gemViaEnvironment</string>
	<key>reactiveCursorLeft</key>
	<string>largeBoxLeft</string>
	<key>spineThroughInterpreter</key>
	<string>pointKindAppearance</string>
	<key>ternarySinceDecorator</key>
	<string>compositionModeSpeed</string>
</dict>
</plist>
