<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicAnimationVelocity</key>
	<string>groupFormIndex</string>
	<key>capacitiesContainCommand</key>
	<string>nodeLevelType</string>
	<key>declarativeGradientShade</key>
	<string>widgetViaLevel</string>
	<key>inkwellTierBottom</key>
	<string>missionLikeEnvironment</string>
	<key>isolateThanScope</key>
	<string>alignmentStageVelocity</string>
	<key>skirtContainVar</key>
	<string>compositionShapeBehavior</string>
</dict>
</plist>
