<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMobileAlignment</key>
	<string>smallAspectratioFlags</string>
	<key>cubitContainCycle</key>
	<string>stepVisitorBorder</string>
	<key>mobileBeyondFlyweight</key>
	<string>cacheThanValue</string>
	<key>persistentMetadataIndex</key>
	<string>rowStylePadding</string>
	<key>queryPerTemple</key>
	<string>positionBufferColor</string>
	<key>signWithParam</key>
	<string>eventShapeTag</string>
	<key>variantWithoutActivity</key>
	<string>keyEffectBottom</string>
</dict>
</plist>
