<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPerPrototype</key>
	<string>localContractionDirection</string>
	<key>arithmeticTimerTint</key>
	<string>viewCommandOffset</string>
	<key>concurrentTextFormat</key>
	<string>hyperbolicOptimizerBrightness</string>
	<key>cursorInsideValue</key>
	<string>heapAndCommand</string>
	<key>durationInsideObserver</key>
	<string>responsiveNodeName</string>
	<key>permanentRequestBound</key>
	<string>mobileSystemCount</string>
	<key>stateStructureValidation</key>
	<string>robustViewStatus</string>
</dict>
</plist>
