<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPerContext</key>
	<string>custompaintAsFramework</string>
	<key>graphAsTier</key>
	<string>textfieldAlongDecorator</string>
	<key>interactorByActivity</key>
	<string>dynamicRectTension</string>
	<key>subpixelSystemLocation</key>
	<string>greatStreamBound</string>
	<key>utilInKind</key>
	<string>rectContextTint</string>
</dict>
</plist>
