<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousChallengeTail</key>
	<string>requestFunctionTint</string>
	<key>custompaintInComposite</key>
	<string>allocatorStyleOpacity</string>
	<key>fixedMenuStatus</key>
	<string>heroTypeOrientation</string>
	<key>pivotalImageScale</key>
	<string>menuDespiteProxy</string>
	<key>widgetUntilChain</key>
	<string>crucialExceptionSaturation</string>
</dict>
</plist>
