<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPerComposite</key>
	<string>agileDecorationTag</string>
	<key>checklistViaDecorator</key>
	<string>comprehensiveAnchorCoord</string>
	<key>entityOutsidePlatform</key>
	<string>subsequentPlaybackTint</string>
	<key>frameInsideLevel</key>
	<string>brushOfBridge</string>
	<key>interactiveSpriteMargin</key>
	<string>routerJobIndex</string>
	<key>mediaStageDepth</key>
	<string>navigatorStrategyFrequency</string>
</dict>
</plist>
