<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFromChain</key>
	<string>offsetAtCycle</string>
	<key>explicitIconOffset</key>
	<string>lazyProtocolFlags</string>
	<key>gesturedetectorLevelEdge</key>
	<string>queryFromScope</string>
	<key>interpolationJobDuration</key>
	<string>parallelObserverTransparency</string>
	<key>synchronousSpriteValidation</key>
	<string>listenerInAction</string>
	<key>tweenAsChain</key>
	<string>grayscalePatternTag</string>
	<key>usedArithmeticInset</key>
	<string>remainderThanMode</string>
	<key>viewParamValidation</key>
	<string>characterOperationTag</string>
</dict>
</plist>
