<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitPerAction</key>
	<string>globalInjectionMomentum</string>
	<key>elasticObserverOffset</key>
	<string>capacitiesAroundComposite</string>
	<key>marginEnvironmentInteraction</key>
	<string>plateWithPhase</string>
	<key>permanentDurationSpeed</key>
	<string>effectFromAdapter</string>
</dict>
</plist>
