<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableDelegateOffset</key>
	<string>variantChainEdge</string>
	<key>heapChainTail</key>
	<string>activatedCatalystInset</string>
	<key>musicAwayFramework</key>
	<string>sizeActivitySaturation</string>
	<key>sequentialDescriptionSaturation</key>
	<string>radiusActivityVelocity</string>
	<key>subscriptionAwayVisitor</key>
	<string>sessionBufferValidation</string>
</dict>
</plist>
