<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonTypeBottom</key>
	<string>storeFormBound</string>
	<key>cupertinoImageName</key>
	<string>localPageviewValidation</string>
	<key>dependencyThanKind</key>
	<string>pointOrProcess</string>
	<key>descriptionActionResponse</key>
	<string>secondActionDepth</string>
	<key>intermediateRadioDistance</key>
	<string>decorationDespiteInterpreter</string>
	<key>otherListenerInset</key>
	<string>normPerVar</string>
	<key>scaffoldSinceFunction</key>
	<string>futureStageBehavior</string>
	<key>spotByChain</key>
	<string>timerAwayContext</string>
	<key>unaryFromKind</key>
	<string>completerInsideComposite</string>
</dict>
</plist>
