<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPerLevel</key>
	<string>radioVersusAdapter</string>
	<key>decorationAndVar</key>
	<string>synchronousChartAppearance</string>
	<key>greatActionResponse</key>
	<string>hyperbolicApertureStyle</string>
	<key>retainedListenerShape</key>
	<string>paddingKindIndex</string>
	<key>sequentialEffectInterval</key>
	<string>delegatePerCommand</string>
	<key>utilStyleTheme</key>
	<string>explicitScaffoldCoord</string>
</dict>
</plist>
