<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryOrState</key>
	<string>priorShaderTail</string>
	<key>borderObserverInterval</key>
	<string>asyncTangentFeedback</string>
	<key>composableDecorationCenter</key>
	<string>optimizerAlongVariable</string>
	<key>delegateOutsideFlyweight</key>
	<string>statefulIncludeForm</string>
	<key>ignoredCellType</key>
	<string>semanticTickerMomentum</string>
	<key>inheritedCompletionScale</key>
	<string>commonSignatureDistance</string>
	<key>positionMediatorSkewx</key>
	<string>comprehensiveParticleSpeed</string>
</dict>
</plist>
