<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedGestureOffset</key>
	<string>switchCycleIndex</string>
	<key>hashPlatformOrigin</key>
	<string>sharedTaskTail</string>
	<key>nodeSingletonTag</key>
	<string>rapidBasePadding</string>
	<key>resolverAsAdapter</key>
	<string>futurePrototypeOffset</string>
	<key>scaffoldWithProcess</key>
	<string>topicVersusMediator</string>
	<key>smallStoreLocation</key>
	<string>channelSinceBuffer</string>
</dict>
</plist>
