<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorObserverFormat</key>
	<string>screenOperationMomentum</string>
	<key>greatChartCount</key>
	<string>matrixMethodDistance</string>
	<key>histogramCycleRight</key>
	<string>convolutionProcessMomentum</string>
</dict>
</plist>
