<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerButtonPressure</key>
	<string>buttonContainStrategy</string>
	<key>callbackAwayAdapter</key>
	<string>fragmentTierShade</string>
	<key>granularProviderSpacing</key>
	<string>animationBridgeStyle</string>
	<key>intensityWithScope</key>
	<string>lossVersusActivity</string>
	<key>labelVersusForm</key>
	<string>basicSignatureTag</string>
	<key>managerPerParameter</key>
	<string>integerDespiteContext</string>
	<key>previewStrategyShade</key>
	<string>mainVariantAppearance</string>
	<key>radiusIncludeLevel</key>
	<string>accessibleZoneIndex</string>
	<key>usageContainBuffer</key>
	<string>utilPrototypeContrast</string>
</dict>
</plist>
