<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAboutTier</key>
	<string>cursorBeyondAdapter</string>
	<key>equipmentUntilMethod</key>
	<string>subscriptionAsCycle</string>
	<key>listviewShapeTension</key>
	<string>fusedSessionVisibility</string>
	<key>queueTypeAlignment</key>
	<string>largeWorkflowTransparency</string>
	<key>statelessExceptPattern</key>
	<string>durationByObserver</string>
	<key>transitionAwayProcess</key>
	<string>interactiveMovementOrientation</string>
</dict>
</plist>
