<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveStoreShade</key>
	<string>cubitCommandSize</string>
	<key>animatedNibOpacity</key>
	<string>lostErrorColor</string>
	<key>completerStructureDelay</key>
	<string>handlerContainEnvironment</string>
	<key>extensionWithoutProcess</key>
	<string>commandThanForm</string>
	<key>hardResourceDirection</key>
	<string>queueBridgeForce</string>
	<key>localLabelTail</key>
	<string>localResourceTransparency</string>
	<key>modalProxyTail</key>
	<string>immutableTextStyle</string>
	<key>smallGrayscaleScale</key>
	<string>transitionPlatformSize</string>
	<key>tabbarUntilProxy</key>
	<string>providerEnvironmentHead</string>
	<key>webScaleAlignment</key>
	<string>gestureChainDelay</string>
</dict>
</plist>
