<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationChainInteraction</key>
	<string>bitrateByState</string>
	<key>callbackViaProcess</key>
	<string>cubitAwayActivity</string>
	<key>cartesianFutureInterval</key>
	<string>disabledEffectBehavior</string>
	<key>coordinatorFlyweightFeedback</key>
	<string>utilSinceDecorator</string>
	<key>nodeAsFramework</key>
	<string>presenterEnvironmentHue</string>
	<key>signatureShapeContrast</key>
	<string>geometricCommandBrightness</string>
	<key>uniformBlocPressure</key>
	<string>requiredTimerSpeed</string>
</dict>
</plist>
