<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreProjectionCoord</key>
	<string>positionedBridgeRate</string>
	<key>mobileLayerLeft</key>
	<string>serviceForVisitor</string>
	<key>observerAlongTemple</key>
	<string>nativeBitrateForce</string>
	<key>resourceLikeShape</key>
	<string>lostCurveLocation</string>
	<key>routerVersusBuffer</key>
	<string>elasticVectorOpacity</string>
	<key>subscriptionKindAlignment</key>
	<string>viewAwayScope</string>
</dict>
</plist>
