<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOfPattern</key>
	<string>progressbarMementoOpacity</string>
	<key>compositionalTimerCoord</key>
	<string>ephemeralAssetForce</string>
	<key>curveCycleAcceleration</key>
	<string>missionAroundMemento</string>
	<key>draggableButtonBehavior</key>
	<string>sampleThanSingleton</string>
	<key>expandedAroundParameter</key>
	<string>boxNearProcess</string>
	<key>imageAroundAction</key>
	<string>publicWidgetTension</string>
</dict>
</plist>
