<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBoxRate</key>
	<string>cursorStageSpacing</string>
	<key>cubitOutsideEnvironment</key>
	<string>basePrototypeTint</string>
	<key>layoutDecoratorAlignment</key>
	<string>relationalTextureOrigin</string>
	<key>nextMarginVelocity</key>
	<string>priorityPlatformFormat</string>
	<key>offsetAndFramework</key>
	<string>temporaryUnaryBottom</string>
	<key>significantMethodOrientation</key>
	<string>protectedGrayscaleFlags</string>
	<key>stackEnvironmentTension</key>
	<string>aspectAsAction</string>
</dict>
</plist>
