<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxLikePlatform</key>
	<string>metadataTypeMode</string>
	<key>characterAndWork</key>
	<string>mobxForPattern</string>
	<key>expandedInterpreterMargin</key>
	<string>cursorInOperation</string>
	<key>geometricBorderAppearance</key>
	<string>particleAsPrototype</string>
	<key>globalUtilSpacing</key>
	<string>webLoopKind</string>
	<key>invisibleBufferState</key>
	<string>multiGridMargin</string>
	<key>mediumStackHue</key>
	<string>baseOfComposite</string>
	<key>mobileLossDelay</key>
	<string>expandedAlongMemento</string>
	<key>painterWithMediator</key>
	<string>nextWidgetRate</string>
	<key>sceneAtAction</key>
	<string>drawerProxyDelay</string>
</dict>
</plist>
