<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerIsolateBound</key>
	<string>sliderProcessForce</string>
	<key>certificateIncludeLayer</key>
	<string>dialogsMethodTheme</string>
	<key>criticalQueryTransparency</key>
	<string>inactiveSpotPosition</string>
	<key>relationalLoopShade</key>
	<string>statefulMetadataRate</string>
</dict>
</plist>
