<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSegueSkewy</key>
	<string>awaitThanParameter</string>
	<key>convolutionSystemShape</key>
	<string>intuitiveTextBehavior</string>
	<key>decorationNumberName</key>
	<string>cubitJobIndex</string>
	<key>effectShapeName</key>
	<string>textEnvironmentBorder</string>
	<key>shaderVarAcceleration</key>
	<string>blocContainFramework</string>
	<key>tabbarNumberDistance</key>
	<string>disparatePainterTail</string>
</dict>
</plist>
