<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarThanEnvironment</key>
	<string>presenterPerBuffer</string>
	<key>deferredMetadataContrast</key>
	<string>streamPlatformState</string>
	<key>errorAroundCycle</key>
	<string>activityActionOpacity</string>
	<key>mutableRequestOrigin</key>
	<string>layerStyleOrientation</string>
	<key>otherCollectionFeedback</key>
	<string>alignmentInsidePrototype</string>
	<key>positionedVisitorSpacing</key>
	<string>diversifiedEffectOffset</string>
	<key>prevBuilderMargin</key>
	<string>projectVisitorInteraction</string>
	<key>repositoryPerCommand</key>
	<string>navigatorFromTemple</string>
	<key>scaleInPattern</key>
	<string>decorationWithInterpreter</string>
</dict>
</plist>
