<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSpineResponse</key>
	<string>popupUntilVariable</string>
	<key>indicatorForOperation</key>
	<string>desktopBrushColor</string>
	<key>radiusDespiteLayer</key>
	<string>documentThanOperation</string>
	<key>relationalManagerTint</key>
	<string>responsiveGesturedetectorForce</string>
	<key>scaleAwayOperation</key>
	<string>heapDuringSingleton</string>
</dict>
</plist>
