<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMethodName</key>
	<string>nodeOutsideForm</string>
	<key>binarySingletonResponse</key>
	<string>newestInterfaceAlignment</string>
	<key>mediumSwitchOpacity</key>
	<string>utilContextInset</string>
</dict>
</plist>
