<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAmongActivity</key>
	<string>popupSinceShape</string>
	<key>ignoredCardDirection</key>
	<string>paddingContainPrototype</string>
	<key>inkwellOperationKind</key>
	<string>associatedLocalizationFlags</string>
	<key>kernelTierAcceleration</key>
	<string>stateStageHead</string>
	<key>priorityLayerValidation</key>
	<string>axisFrameworkVisibility</string>
	<key>spriteThanWork</key>
	<string>easyTextValidation</string>
	<key>storageProxyInterval</key>
	<string>secondTitleSpacing</string>
	<key>zoneCommandOrigin</key>
	<string>stateByTier</string>
</dict>
</plist>
