<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopWorkTop</key>
	<string>menuInFacade</string>
	<key>navigatorWorkSkewx</key>
	<string>frameStyleTop</string>
	<key>offsetWorkAcceleration</key>
	<string>statefulAroundWork</string>
	<key>protectedTransitionCoord</key>
	<string>labelTempleFormat</string>
	<key>queueValueScale</key>
	<string>curvePrototypeMode</string>
	<key>referenceTypeMode</key>
	<string>prismaticPaddingOpacity</string>
	<key>roleBufferAppearance</key>
	<string>temporaryAlignmentLocation</string>
	<key>secondMediaHead</key>
	<string>gramModeAlignment</string>
	<key>tickerBridgeDuration</key>
	<string>zoneAgainstOperation</string>
	<key>tweenTypeHue</key>
	<string>customChapterSpeed</string>
</dict>
</plist>
