<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletActivityTag</key>
	<string>concreteAnimationTheme</string>
	<key>declarativeSubscriptionEdge</key>
	<string>disabledStreamShade</string>
	<key>fixedTableFeedback</key>
	<string>commonTextMargin</string>
	<key>interactiveModelDirection</key>
	<string>radiusTaskSaturation</string>
	<key>metadataByFlyweight</key>
	<string>delicateHashShade</string>
	<key>segmentAdapterInset</key>
	<string>clipperJobBottom</string>
	<key>tweenKindType</key>
	<string>scenePerInterpreter</string>
	<key>vectorFunctionCenter</key>
	<string>storageVersusFramework</string>
	<key>viewByWork</key>
	<string>observerWithObserver</string>
</dict>
</plist>
