<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCycleEdge</key>
	<string>desktopRouteFormat</string>
	<key>desktopRouterDuration</key>
	<string>parallelRoleBehavior</string>
	<key>directlyStampSpeed</key>
	<string>baseMementoMode</string>
	<key>grainAsComposite</key>
	<string>basicDimensionBrightness</string>
	<key>immutableConsumerRate</key>
	<string>resizableScrollDistance</string>
	<key>kernelDuringObserver</key>
	<string>ternaryPrototypeMomentum</string>
	<key>metadataWorkMode</key>
	<string>compositionalRemainderState</string>
	<key>overlayViaInterpreter</key>
	<string>extensionContextOrientation</string>
	<key>radiusMementoInteraction</key>
	<string>constPresenterFeedback</string>
	<key>seamlessHistogramMomentum</key>
	<string>arithmeticFutureContrast</string>
</dict>
</plist>
