<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerMethodBound</key>
	<string>unsortedCosineLeft</string>
	<key>hierarchicalLogDirection</key>
	<string>tappableAppbarSize</string>
	<key>semanticFactoryOpacity</key>
	<string>allocatorOutsideWork</string>
	<key>sessionLikeSystem</key>
	<string>gridModeDistance</string>
</dict>
</plist>
