<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAgainstMediator</key>
	<string>captionMethodStyle</string>
	<key>decorationBeyondJob</key>
	<string>queueForLevel</string>
	<key>observerModeDensity</key>
	<string>effectThanObserver</string>
	<key>primaryRichtextFlags</key>
	<string>synchronousRoutePosition</string>
	<key>prismaticEquipmentVisibility</key>
	<string>accessibleQueueTint</string>
	<key>providerUntilStyle</key>
	<string>temporaryEntityPressure</string>
	<key>signInBuffer</key>
	<string>routerParamState</string>
	<key>specifierVisitorDelay</key>
	<string>cellDespiteFlyweight</string>
	<key>streamInterpreterKind</key>
	<string>decorationAroundProcess</string>
	<key>unsortedServiceSkewx</key>
	<string>allocatorSingletonFormat</string>
</dict>
</plist>
