<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicRadiusAlignment</key>
	<string>channelAroundMode</string>
	<key>gateInSystem</key>
	<string>capacitiesAroundFacade</string>
	<key>gemBufferStyle</key>
	<string>methodVariableSkewy</string>
	<key>logStrategyStatus</key>
	<string>tabviewVariableResponse</string>
	<key>opaqueGraphicVisible</key>
	<string>canvasFromLevel</string>
	<key>standalonePetVisible</key>
	<string>asyncAgainstAdapter</string>
	<key>titleSinceScope</key>
	<string>cursorChainPosition</string>
</dict>
</plist>
