<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveClipperScale</key>
	<string>shaderTypeSkewx</string>
	<key>blocShapeInterval</key>
	<string>iconThroughParam</string>
	<key>characterScopeEdge</key>
	<string>presenterStateHead</string>
	<key>constTabviewForce</key>
	<string>taskNumberBottom</string>
	<key>crudePlateVisible</key>
	<string>buttonFlyweightAppearance</string>
	<key>enabledSubscriptionStatus</key>
	<string>finalStepBrightness</string>
	<key>priorityFromEnvironment</key>
	<string>entityWithoutForm</string>
</dict>
</plist>
