<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constSinkSaturation</key>
	<string>sortedCoordinatorCount</string>
	<key>functionalHandlerMode</key>
	<string>promiseExceptBuffer</string>
	<key>paddingAsForm</key>
	<string>swiftViaMemento</string>
	<key>similarSegueMode</key>
	<string>keyFeatureTheme</string>
	<key>skirtTaskTint</key>
	<string>semanticGridviewStyle</string>
</dict>
</plist>
