<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedNumberIndex</key>
	<string>localizationProcessStyle</string>
	<key>grainWithBuffer</key>
	<string>projectTierOrigin</string>
	<key>lastRowSize</key>
	<string>managerByWork</string>
	<key>pinchableControllerSaturation</key>
	<string>declarativePointBrightness</string>
	<key>respectiveSineOpacity</key>
	<string>layerAlongStyle</string>
</dict>
</plist>
