<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitFunctionCount</key>
	<string>unsortedCompletionValidation</string>
	<key>boxInterpreterEdge</key>
	<string>completionCommandName</string>
	<key>chartBeyondLevel</key>
	<string>boxUntilWork</string>
	<key>cosineVisitorHue</key>
	<string>columnNumberScale</string>
	<key>matrixOrFacade</key>
	<string>concreteInterfaceDuration</string>
	<key>modulusStateResponse</key>
	<string>spriteEnvironmentScale</string>
	<key>sensorIncludeWork</key>
	<string>lostConfigurationLeft</string>
	<key>singleStackSkewx</key>
	<string>channelLayerVelocity</string>
</dict>
</plist>
