<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerLikeParameter</key>
	<string>flexAlongPrototype</string>
	<key>metadataForScope</key>
	<string>toolAgainstWork</string>
	<key>resourceLikeProxy</key>
	<string>imageOfStructure</string>
	<key>responsiveMetadataShape</key>
	<string>queryAwayPrototype</string>
</dict>
</plist>
