<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActionKind</key>
	<string>tangentViaTier</string>
	<key>diffableStoryboardMomentum</key>
	<string>isolateBesideProxy</string>
	<key>enabledActionResponse</key>
	<string>scrollStyleTint</string>
	<key>hashDecoratorLeft</key>
	<string>petValueScale</string>
	<key>mediumUtilDirection</key>
	<string>animationDuringVar</string>
	<key>parallelSlashFormat</key>
	<string>drawerIncludeBridge</string>
	<key>protocolMethodStatus</key>
	<string>immutableAsyncFrequency</string>
	<key>sophisticatedMetadataPressure</key>
	<string>heroJobSize</string>
</dict>
</plist>
