<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearKind</key>
	<string>controllerOrOperation</string>
	<key>catalystTaskVisible</key>
	<string>providerOutsideVisitor</string>
	<key>grainAwayFacade</key>
	<string>progressbarIncludeOperation</string>
	<key>interactiveBrushAlignment</key>
	<string>ignoredProjectionAcceleration</string>
	<key>resultAwayPhase</key>
	<string>entropyUntilSingleton</string>
	<key>screenAmongBridge</key>
	<string>streamThroughPhase</string>
	<key>sharedTextureOpacity</key>
	<string>gridviewFunctionTint</string>
	<key>smartQueryTint</key>
	<string>buttonStateSkewx</string>
</dict>
</plist>
