<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAsSystem</key>
	<string>loopDespiteVar</string>
	<key>advancedProviderLocation</key>
	<string>denseCommandTension</string>
	<key>alphaTypeSaturation</key>
	<string>symmetricMissionCoord</string>
	<key>flexibleControllerInterval</key>
	<string>controllerBesideParam</string>
	<key>hierarchicalContainerDirection</key>
	<string>topicStageSaturation</string>
	<key>localSceneTop</key>
	<string>tappableModelMargin</string>
	<key>screenAsWork</key>
	<string>specifierNearChain</string>
	<key>tensorPainterColor</key>
	<string>effectBridgeSpacing</string>
</dict>
</plist>
