<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPatternSpacing</key>
	<string>heroAwayMode</string>
	<key>immediateNotificationTransparency</key>
	<string>constraintBufferBehavior</string>
	<key>labelUntilPlatform</key>
	<string>heapAwayLevel</string>
	<key>missedChannelsKind</key>
	<string>canvasAroundMode</string>
	<key>observerVarState</key>
	<string>constRectName</string>
	<key>sineStageFlags</key>
	<string>toolCycleCoord</string>
	<key>storePlatformSkewx</key>
	<string>invisibleExpandedDepth</string>
</dict>
</plist>
