<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithoutCycle</key>
	<string>standalonePointContrast</string>
	<key>basicSwitchPadding</key>
	<string>originalTopicInset</string>
	<key>memberCommandLeft</key>
	<string>composableApertureTheme</string>
	<key>sceneFlyweightOrientation</key>
	<string>managerOutsideStructure</string>
	<key>storeVariableSkewx</key>
	<string>singleMenuForce</string>
	<key>textureVarHead</key>
	<string>viewVariableStyle</string>
	<key>topicCompositeRight</key>
	<string>disparateGateVelocity</string>
</dict>
</plist>
