<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorVarSkewx</key>
	<string>sizedboxDecoratorRate</string>
	<key>cursorBridgeBrightness</key>
	<string>flexPerKind</string>
	<key>extensionObserverSkewy</key>
	<string>relationalInjectionTheme</string>
	<key>featureFromAdapter</key>
	<string>cursorChainSpacing</string>
	<key>usedEffectDelay</key>
	<string>dependencyAmongProcess</string>
</dict>
</plist>
