<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureAdapterAppearance</key>
	<string>discardedMetadataRate</string>
	<key>layerMethodScale</key>
	<string>characterMediatorFormat</string>
	<key>nativeTitleOpacity</key>
	<string>techniqueForTemple</string>
	<key>pivotalTitleInteraction</key>
	<string>behaviorStageFrequency</string>
	<key>vectorAndFunction</key>
	<string>riverpodAgainstStage</string>
</dict>
</plist>
