<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoStateInset</key>
	<string>featureNumberLeft</string>
	<key>descriptorDespiteTier</key>
	<string>symmetricChartType</string>
	<key>featureAsSystem</key>
	<string>blocDespiteBuffer</string>
	<key>invisibleIntegerInset</key>
	<string>navigatorVariableFlags</string>
	<key>respectiveProviderTint</key>
	<string>sizedboxDespiteParam</string>
	<key>segueVisitorOrientation</key>
	<string>zoneLikeVar</string>
	<key>singleInteractorKind</key>
	<string>threadTierSpeed</string>
	<key>subsequentUsecaseTint</key>
	<string>responsiveEntityTension</string>
	<key>symbolTaskShade</key>
	<string>disparateResolverSaturation</string>
	<key>transitionStrategyDensity</key>
	<string>deferredAnchorMomentum</string>
</dict>
</plist>
