<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopHistogramRight</key>
	<string>channelsMethodShade</string>
	<key>directRadiusAlignment</key>
	<string>animatedcontainerOrComposite</string>
	<key>easyChallengeBehavior</key>
	<string>animationStageIndex</string>
	<key>effectByContext</key>
	<string>cartesianThemeRotation</string>
	<key>reusableCompleterContrast</key>
	<string>labelMementoHue</string>
	<key>statelessCoordinatorTop</key>
	<string>documentFrameworkSize</string>
	<key>transformerVersusMethod</key>
	<string>spotByStage</string>
	<key>zoneEnvironmentMomentum</key>
	<string>subpixelAwayMode</string>
</dict>
</plist>
