<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerProcessPressure</key>
	<string>sliderKindType</string>
	<key>curveDuringParameter</key>
	<string>textThanMethod</string>
	<key>dedicatedTweenVelocity</key>
	<string>accessibleMetadataSpeed</string>
	<key>interfaceAroundMediator</key>
	<string>spriteAmongLayer</string>
	<key>masterWithoutActivity</key>
	<string>directlyCursorPadding</string>
	<key>progressbarValueAcceleration</key>
	<string>iconUntilVar</string>
	<key>protectedProjectionStatus</key>
	<string>resourceStructureRight</string>
	<key>usedSwiftResponse</key>
	<string>entityProcessInteraction</string>
</dict>
</plist>
