<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsActivitySpacing</key>
	<string>chartInTemple</string>
	<key>geometricBitrateInteraction</key>
	<string>mediaqueryStrategyVisible</string>
	<key>pivotalPresenterInteraction</key>
	<string>mediaContainChain</string>
</dict>
</plist>
