<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedRouterSkewx</key>
	<string>painterCommandTransparency</string>
	<key>gradientAndBridge</key>
	<string>futureActionAppearance</string>
	<key>gramLikeVar</key>
	<string>imageByParam</string>
	<key>widgetSinceAdapter</key>
	<string>graphicStateMomentum</string>
</dict>
</plist>
