<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDuringBuffer</key>
	<string>globalCycleSpacing</string>
	<key>clipperWorkSize</key>
	<string>difficultLabelAlignment</string>
	<key>controllerWorkSkewy</key>
	<string>exponentTempleTransparency</string>
	<key>nextAlignmentDensity</key>
	<string>semanticGroupState</string>
	<key>providerAlongStage</key>
	<string>localSinkIndex</string>
</dict>
</plist>
