<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncThroughNumber</key>
	<string>entityAndComposite</string>
	<key>characterFunctionDensity</key>
	<string>configurationTypeTension</string>
	<key>eagerPresenterTop</key>
	<string>loopMediatorRotation</string>
	<key>expandedWithoutProxy</key>
	<string>metadataIncludeChain</string>
	<key>globalBatchLeft</key>
	<string>otherTextCoord</string>
	<key>largeArithmeticHead</key>
	<string>primaryAllocatorBound</string>
	<key>significantCommandCoord</key>
	<string>menuVersusStage</string>
	<key>spriteScopeFeedback</key>
	<string>tangentNearEnvironment</string>
	<key>storeThanFlyweight</key>
	<string>resolverInMediator</string>
</dict>
</plist>
