<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStyleStyle</key>
	<string>unaryContainStrategy</string>
	<key>notificationJobDepth</key>
	<string>decorationSingletonFlags</string>
	<key>pointContainFacade</key>
	<string>labelVariableEdge</string>
	<key>semanticCubitTail</key>
	<string>statefulAwayStyle</string>
	<key>tensorAlignmentBottom</key>
	<string>resultSinceMediator</string>
	<key>topicAgainstSystem</key>
	<string>textureScopeIndex</string>
</dict>
</plist>
