<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProjectionDensity</key>
	<string>ignoredSizeBottom</string>
	<key>geometricLogAlignment</key>
	<string>interpolationStageRate</string>
	<key>gridAmongPrototype</key>
	<string>keyContractionForce</string>
	<key>iterativePriorityLeft</key>
	<string>taskAboutVar</string>
	<key>largeResourcePosition</key>
	<string>assetLikeStrategy</string>
	<key>localizationOutsideSystem</key>
	<string>heapPatternHue</string>
	<key>previewInterpreterSkewx</key>
	<string>resolverAwayMethod</string>
	<key>sequentialInteractorStatus</key>
	<string>assetUntilProxy</string>
</dict>
</plist>
