<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartBesideStyle</key>
	<string>inheritedPointInset</string>
	<key>completionForPattern</key>
	<string>asyncVarContrast</string>
	<key>dependencyAmongType</key>
	<string>accordionAxisDelay</string>
	<key>mutableLogOpacity</key>
	<string>sharedSlashTint</string>
	<key>normalButtonStyle</key>
	<string>inheritedFrameVelocity</string>
	<key>otherDecorationHead</key>
	<string>workflowObserverBottom</string>
	<key>profileVariableAlignment</key>
	<string>relationalStepMargin</string>
	<key>scaffoldNearPrototype</key>
	<string>blocPhasePosition</string>
	<key>sceneAgainstProcess</key>
	<string>metadataMementoType</string>
	<key>unactivatedMobxShade</key>
	<string>offsetUntilFunction</string>
</dict>
</plist>
