<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAlongStrategy</key>
	<string>eventLevelMode</string>
	<key>borderAndChain</key>
	<string>responseDuringTask</string>
	<key>cubitScopeShape</key>
	<string>mediaqueryPatternTag</string>
	<key>eventAdapterStatus</key>
	<string>previewPerStructure</string>
	<key>hardStepSkewy</key>
	<string>masterLayerDensity</string>
	<key>intermediateHeroRotation</key>
	<string>appbarAmongAdapter</string>
</dict>
</plist>
