<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAllocatorLocation</key>
	<string>persistentInterfaceContrast</string>
	<key>custompaintAtOperation</key>
	<string>baseTempleInteraction</string>
	<key>entityObserverLeft</key>
	<string>requiredManagerVisible</string>
	<key>indicatorStrategyLocation</key>
	<string>methodSystemShape</string>
	<key>normalImageTag</key>
	<string>topicOutsideInterpreter</string>
	<key>requestStageMargin</key>
	<string>sineDecoratorSaturation</string>
	<key>semanticDecorationCoord</key>
	<string>segmentWithoutPlatform</string>
	<key>sineWithoutContext</key>
	<string>nativePopupBound</string>
	<key>vectorProxyPadding</key>
	<string>intermediateTextureLocation</string>
</dict>
</plist>
