<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocEnvironmentVelocity</key>
	<string>subsequentColumnTransparency</string>
	<key>commandLayerKind</key>
	<string>immutableFlexSkewy</string>
	<key>concretePresenterTransparency</key>
	<string>gridSystemTheme</string>
	<key>desktopKernelStyle</key>
	<string>sessionJobRate</string>
	<key>grayscaleByProcess</key>
	<string>notificationMediatorOrigin</string>
	<key>oldPlateTail</key>
	<string>exponentContainSingleton</string>
	<key>persistentApertureType</key>
	<string>gestureVersusOperation</string>
	<key>resizableReductionTint</key>
	<string>layoutWorkMargin</string>
	<key>reusableIntensityPadding</key>
	<string>previewNearLayer</string>
	<key>specifyObserverEdge</key>
	<string>globalGetxType</string>
</dict>
</plist>
