<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedLabelFrequency</key>
	<string>fusedTimerInset</string>
	<key>robustSubpixelFlags</key>
	<string>drawerAlongJob</string>
	<key>sinkParameterPressure</key>
	<string>navigatorBesideSingleton</string>
	<key>taskInPhase</key>
	<string>anchorOperationScale</string>
</dict>
</plist>
