<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousApertureHead</key>
	<string>dedicatedLabelPadding</string>
	<key>delegateSingletonLeft</key>
	<string>typicalUnaryBottom</string>
	<key>spriteParameterContrast</key>
	<string>protocolNearNumber</string>
	<key>taskLikeStrategy</key>
	<string>criticalBulletTransparency</string>
</dict>
</plist>
