<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryOperationDirection</key>
	<string>lazySineTint</string>
	<key>functionalAsyncDelay</key>
	<string>tableContextMomentum</string>
	<key>globalColumnFormat</key>
	<string>invisibleSliderAppearance</string>
	<key>localizationFunctionResponse</key>
	<string>pointAwayCycle</string>
	<key>musicJobForce</key>
	<string>transformerUntilFacade</string>
	<key>seamlessProfileSize</key>
	<string>robustObserverPressure</string>
</dict>
</plist>
