<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxWorkStyle</key>
	<string>matrixAtLayer</string>
	<key>dedicatedModalPosition</key>
	<string>progressbarVariableShade</string>
	<key>heroByActivity</key>
	<string>referenceStageSize</string>
	<key>prevStatelessAppearance</key>
	<string>textWithDecorator</string>
	<key>protectedSubscriptionDuration</key>
	<string>difficultAsyncColor</string>
	<key>rectBufferSpacing</key>
	<string>touchFromPlatform</string>
	<key>visibleAxisInset</key>
	<string>certificateBridgeState</string>
	<key>zoneAroundFramework</key>
	<string>immutableBoxFeedback</string>
</dict>
</plist>
