<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopTaskVelocity</key>
	<string>semanticFutureSize</string>
	<key>notificationPerProxy</key>
	<string>segueUntilJob</string>
	<key>painterAndBridge</key>
	<string>nodeFrameworkShade</string>
	<key>prismaticMasterRate</key>
	<string>gemVarOffset</string>
	<key>rowInBridge</key>
	<string>stackMethodOrigin</string>
	<key>sampleAroundShape</key>
	<string>textureFormCoord</string>
	<key>unaryContextOpacity</key>
	<string>sampleByMediator</string>
</dict>
</plist>
