<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectSinceLevel</key>
	<string>singleHashSaturation</string>
	<key>labelLikeStructure</key>
	<string>matrixBesideFlyweight</string>
	<key>localHistogramResponse</key>
	<string>enabledFeatureInteraction</string>
	<key>numericalCoordinatorResponse</key>
	<string>basicPresenterVisible</string>
	<key>otherUsageBound</key>
	<string>accessibleContainerOrigin</string>
</dict>
</plist>
