<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAroundAction</key>
	<string>injectionFromContext</string>
	<key>oldGestureDensity</key>
	<string>errorWorkFlags</string>
	<key>parallelPageviewSize</key>
	<string>storageThroughVisitor</string>
	<key>richtextContextLocation</key>
	<string>modelFormDensity</string>
	<key>storeStageResponse</key>
	<string>apertureFlyweightFlags</string>
	<key>symmetricTextSize</key>
	<string>agileMetadataFormat</string>
</dict>
</plist>
