<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesInterpreterCoord</key>
	<string>entityLikeAdapter</string>
	<key>draggableLayerName</key>
	<string>opaqueChapterIndex</string>
	<key>flexibleEffectSkewy</key>
	<string>buttonVisitorState</string>
	<key>listviewProcessTint</key>
	<string>dynamicSizeState</string>
	<key>mediocreSizeCenter</key>
	<string>webResourceOpacity</string>
	<key>memberWithoutChain</key>
	<string>canvasWorkTransparency</string>
	<key>observerOutsideNumber</key>
	<string>resourceVisitorCenter</string>
	<key>reactivePlaybackShape</key>
	<string>criticalTimerLocation</string>
</dict>
</plist>
