<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionIconInteraction</key>
	<string>shaderSinceNumber</string>
	<key>challengeParameterAcceleration</key>
	<string>concurrentBaseHead</string>
	<key>commandAboutComposite</key>
	<string>normalNotificationRate</string>
	<key>exceptionFormPadding</key>
	<string>managerAtForm</string>
	<key>imperativeCoordinatorTint</key>
	<string>sophisticatedGraphOrigin</string>
	<key>sinkMementoAppearance</key>
	<string>typicalDocumentDistance</string>
	<key>specifySkinTag</key>
	<string>relationalDecorationRate</string>
</dict>
</plist>
