<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInAction</key>
	<string>serviceStrategyScale</string>
	<key>imageAroundForm</key>
	<string>mobileBufferContrast</string>
	<key>loopBridgeCount</key>
	<string>particleViaOperation</string>
	<key>numericalBoxshadowLocation</key>
	<string>dedicatedSinkRate</string>
	<key>topicMethodLeft</key>
	<string>discardedBinaryBorder</string>
</dict>
</plist>
