<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveCertificateCenter</key>
	<string>intermediateNavigatorPadding</string>
	<key>crudeProgressbarDensity</key>
	<string>easyApertureInset</string>
	<key>easySpriteStyle</key>
	<string>cartesianKernelPosition</string>
	<key>featureAlongVisitor</key>
	<string>lastRequestScale</string>
	<key>petMementoVisible</key>
	<string>certificateBufferShape</string>
	<key>progressbarDespiteStrategy</key>
	<string>certificateVariableBound</string>
	<key>subpixelOrLayer</key>
	<string>priorityUntilMethod</string>
</dict>
</plist>
