<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicStageVisible</key>
	<string>keyChartResponse</string>
	<key>localizationSinceOperation</key>
	<string>nextGroupCount</string>
	<key>mediaViaMemento</key>
	<string>disparateRequestLeft</string>
	<key>newestResponseInteraction</key>
	<string>webCycleTop</string>
	<key>positionViaStyle</key>
	<string>unactivatedIsolateKind</string>
	<key>tweenViaNumber</key>
	<string>projectSinceFunction</string>
	<key>viewFromStructure</key>
	<string>sineThanPhase</string>
</dict>
</plist>
