<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureCompositeOrientation</key>
	<string>prevReducerTint</string>
	<key>ignoredSymbolDelay</key>
	<string>durationFrameworkDirection</string>
	<key>inkwellPlatformResponse</key>
	<string>canvasLayerBorder</string>
</dict>
</plist>
