<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMenuInterval</key>
	<string>constContainerHue</string>
	<key>menuViaVar</key>
	<string>sliderSystemShade</string>
	<key>robustModulusShape</key>
	<string>pageviewActionSize</string>
	<key>sizeTemplePosition</key>
	<string>completerParamFrequency</string>
	<key>stepMementoShade</key>
	<string>errorFacadeFormat</string>
</dict>
</plist>
