<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAtComposite</key>
	<string>futureObserverLocation</string>
	<key>columnPatternBottom</key>
	<string>resilientIndicatorFlags</string>
	<key>coordinatorFromWork</key>
	<string>alphaDespiteMediator</string>
	<key>localizationPrototypeAcceleration</key>
	<string>decorationWithCommand</string>
</dict>
</plist>
