<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncJobOrientation</key>
	<string>progressbarMementoResponse</string>
	<key>materialAnimatedcontainerName</key>
	<string>asynchronousCacheDistance</string>
	<key>prevTransformerSkewx</key>
	<string>specifierInterpreterVisibility</string>
	<key>rowLikeActivity</key>
	<string>completerEnvironmentDistance</string>
	<key>rowNearWork</key>
	<string>routeBesideContext</string>
</dict>
</plist>
