<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedTabbarAlignment</key>
	<string>allocatorNearObserver</string>
	<key>lostGrainOrientation</key>
	<string>sampleFormType</string>
	<key>routeVersusStructure</key>
	<string>blocOfInterpreter</string>
	<key>sortedLocalizationPressure</key>
	<string>paddingNearMemento</string>
</dict>
</plist>
