<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateCommandType</key>
	<string>presenterProcessRotation</string>
	<key>fixedSampleTheme</key>
	<string>statefulFormOrigin</string>
	<key>flexibleTabbarSpeed</key>
	<string>discardedSwiftPressure</string>
	<key>histogramBeyondActivity</key>
	<string>cupertinoScaffoldCount</string>
	<key>notifierAdapterDirection</key>
	<string>allocatorMediatorDepth</string>
	<key>otherWidgetLeft</key>
	<string>serviceAndScope</string>
	<key>rapidOffsetBorder</key>
	<string>documentOfFramework</string>
	<key>resourceFlyweightStyle</key>
	<string>frameAroundOperation</string>
	<key>usedListviewVisible</key>
	<string>spriteAwayFacade</string>
	<key>vectorObserverDensity</key>
	<string>memberForOperation</string>
</dict>
</plist>
