<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resourceObserverAcceleration</key>
	<string>tweenPlatformAppearance</string>
	<key>respectiveTransitionBehavior</key>
	<string>subpixelValueSkewx</string>
	<key>semanticStackTheme</key>
	<string>seamlessCertificateIndex</string>
	<key>serviceStructureCount</key>
	<string>prismaticRoleMargin</string>
</dict>
</plist>
