<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardEnvironmentHead</key>
	<string>observerMementoMode</string>
	<key>containerVisitorEdge</key>
	<string>multiplicationAwayShape</string>
	<key>heapOutsideFacade</key>
	<string>denseProfileSkewy</string>
	<key>layoutContextFlags</key>
	<string>relationalSegmentPadding</string>
	<key>managerWithoutNumber</key>
	<string>certificateTaskSize</string>
	<key>overlayOrJob</key>
	<string>cartesianBuilderCenter</string>
	<key>parallelDecorationBorder</key>
	<string>geometricSampleRotation</string>
	<key>profileTierForce</key>
	<string>scaleModeLeft</string>
	<key>textFrameworkDelay</key>
	<string>difficultQueryVisibility</string>
</dict>
</plist>
