<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStructureRight</key>
	<string>cycleBeyondFlyweight</string>
	<key>cubeDespiteSystem</key>
	<string>storagePrototypeDistance</string>
	<key>interactorPhaseHead</key>
	<string>transitionFromParameter</string>
</dict>
</plist>
