<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStyleFrequency</key>
	<string>navigatorTempleTension</string>
	<key>displayableCurveForce</key>
	<string>lazyLogBehavior</string>
	<key>notificationWorkAcceleration</key>
	<string>storageAtPrototype</string>
	<key>queryDespiteFlyweight</key>
	<string>rapidLabelTheme</string>
	<key>querySingletonFormat</key>
	<string>persistentAlphaPosition</string>
	<key>riverpodInVar</key>
	<string>integerAmongOperation</string>
	<key>subpixelNearVisitor</key>
	<string>marginStructureOpacity</string>
</dict>
</plist>
