<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateBufferPosition</key>
	<string>mainSymbolRotation</string>
	<key>cosineLayerVisibility</key>
	<string>chapterScopeRight</string>
	<key>gesturedetectorModeCoord</key>
	<string>delegateAsStrategy</string>
</dict>
</plist>
