<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectInterpreterScale</key>
	<string>lostVariantLeft</string>
	<key>channelsFrameworkTag</key>
	<string>mediaqueryFromLevel</string>
	<key>diversifiedOffsetDistance</key>
	<string>projectOperationStyle</string>
	<key>immediateCurveLeft</key>
	<string>commandInMode</string>
	<key>menuChainVelocity</key>
	<string>bitrateWorkAlignment</string>
	<key>pivotalReducerFeedback</key>
	<string>sensorChainHead</string>
	<key>priorRowPadding</key>
	<string>accordionSignatureForce</string>
</dict>
</plist>
