<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerLevelOpacity</key>
	<string>optionFunctionFrequency</string>
	<key>compositionalCertificateOffset</key>
	<string>viewTypeDuration</string>
	<key>comprehensiveRadiusSkewx</key>
	<string>musicOfNumber</string>
	<key>dialogsFlyweightOrientation</key>
	<string>aspectAgainstTier</string>
	<key>liteErrorValidation</key>
	<string>captionFormValidation</string>
	<key>positionedForProcess</key>
	<string>previewOperationSkewx</string>
	<key>similarGraphVelocity</key>
	<string>diversifiedToolKind</string>
	<key>slashBesideSingleton</key>
	<string>symbolWithoutFlyweight</string>
	<key>transformerMethodMargin</key>
	<string>adaptiveViewDuration</string>
</dict>
</plist>
