<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitNumberPosition</key>
	<string>flexAboutActivity</string>
	<key>bitrateBufferTint</key>
	<string>scaffoldPrototypeTop</string>
	<key>constButtonFeedback</key>
	<string>taskCommandTension</string>
	<key>delegateCompositeBound</key>
	<string>flexOrForm</string>
	<key>desktopArithmeticFeedback</key>
	<string>cubeAsForm</string>
	<key>respectiveCurveOrigin</key>
	<string>lostControllerVisible</string>
	<key>retainedBulletOpacity</key>
	<string>graphicAroundDecorator</string>
	<key>scrollableSubscriptionPosition</key>
	<string>previewActivityInteraction</string>
</dict>
</plist>
