<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveNumberFormat</key>
	<string>intuitiveReducerDelay</string>
	<key>gestureStageHue</key>
	<string>loopIncludeState</string>
	<key>gridStructureOrigin</key>
	<string>completerBesideLevel</string>
	<key>spriteAmongTask</key>
	<string>labelMementoOpacity</string>
	<key>ternaryAsSystem</key>
	<string>reducerByComposite</string>
</dict>
</plist>
