<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionBufferStyle</key>
	<string>multiplicationThanKind</string>
	<key>disparateCallbackCenter</key>
	<string>menuCompositeVisibility</string>
	<key>materialViewOrientation</key>
	<string>baselineAwayMethod</string>
</dict>
</plist>
