<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateStyleFrequency</key>
	<string>associatedSliderOrigin</string>
	<key>largeRepositoryStatus</key>
	<string>dedicatedOptionAlignment</string>
	<key>newestNavigatorTag</key>
	<string>compositionFrameworkBottom</string>
	<key>sizeChainPadding</key>
	<string>heroProxySkewy</string>
	<key>tabbarProcessTransparency</key>
	<string>cartesianEffectSpacing</string>
</dict>
</plist>
