<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFormMomentum</key>
	<string>captionByShape</string>
	<key>asyncUtilBehavior</key>
	<string>gestureVersusPattern</string>
	<key>capacitiesCommandMomentum</key>
	<string>curveVarScale</string>
	<key>heapAboutStructure</key>
	<string>awaitJobCoord</string>
	<key>interfaceStateCount</key>
	<string>composableButtonAppearance</string>
	<key>modelStrategyOffset</key>
	<string>routeVarShape</string>
	<key>optimizerAdapterStatus</key>
	<string>variantProcessInteraction</string>
	<key>routeOfLayer</key>
	<string>groupFlyweightStatus</string>
</dict>
</plist>
