<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStyleColor</key>
	<string>localDrawerBrightness</string>
	<key>lazyAnimatedcontainerColor</key>
	<string>sampleOrProxy</string>
	<key>logAdapterBound</key>
	<string>subsequentIntegerStyle</string>
	<key>normOperationContrast</key>
	<string>lossFromWork</string>
	<key>priorityBufferAcceleration</key>
	<string>lostRichtextHue</string>
	<key>requiredBehaviorAlignment</key>
	<string>singleIntensitySpacing</string>
	<key>streamAboutFlyweight</key>
	<string>cycleCompositeValidation</string>
	<key>tangentShapeRotation</key>
	<string>ephemeralTextScale</string>
</dict>
</plist>
