<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryCycleColor</key>
	<string>alignmentTierHue</string>
	<key>coordinatorWithoutParameter</key>
	<string>curveStrategyLeft</string>
	<key>imageBesidePrototype</key>
	<string>crudeCurveLeft</string>
	<key>scrollFlyweightSkewx</key>
	<string>sliderExceptFacade</string>
	<key>seamlessSliderTint</key>
	<string>gateNumberMomentum</string>
	<key>sequentialPlateSpacing</key>
	<string>methodTierMargin</string>
</dict>
</plist>
