<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBehaviorEdge</key>
	<string>assetContextRate</string>
	<key>constraintBesidePlatform</key>
	<string>profileAboutFlyweight</string>
	<key>custompaintExceptParameter</key>
	<string>explicitColumnInterval</string>
	<key>oldDependencyVisible</key>
	<string>futureVersusScope</string>
	<key>optimizerFormVisibility</key>
	<string>nativeMaterialVisibility</string>
	<key>prismaticRouteHue</key>
	<string>comprehensiveFactoryAcceleration</string>
	<key>responseChainVisibility</key>
	<string>chapterEnvironmentDirection</string>
	<key>sustainableSubscriptionDirection</key>
	<string>intensityStateColor</string>
	<key>symmetricParticleDirection</key>
	<string>customTabviewScale</string>
</dict>
</plist>
