<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTransitionCoord</key>
	<string>radiusDuringScope</string>
	<key>cubitObserverCoord</key>
	<string>repositoryAmongMediator</string>
	<key>profileDecoratorContrast</key>
	<string>timerFrameworkState</string>
	<key>radiusForShape</key>
	<string>hardRouteTail</string>
	<key>requestExceptChain</key>
	<string>stepPatternCenter</string>
	<key>sizeInsideParameter</key>
	<string>providerOperationColor</string>
	<key>swiftTypeHead</key>
	<string>transitionPatternAppearance</string>
	<key>tickerAwayInterpreter</key>
	<string>prevModalIndex</string>
</dict>
</plist>
