<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterVersusSystem</key>
	<string>titleScopeOffset</string>
	<key>effectByForm</key>
	<string>skinSinceStyle</string>
	<key>ignoredChannelsInteraction</key>
	<string>buttonDecoratorSpeed</string>
	<key>interactorNumberCenter</key>
	<string>themeContextVisible</string>
	<key>largeApertureAppearance</key>
	<string>managerMethodRate</string>
	<key>musicIncludeOperation</key>
	<string>modelParamTheme</string>
	<key>normAroundState</key>
	<string>spineIncludeType</string>
	<key>observerPhaseInset</key>
	<string>fixedSlashDepth</string>
	<key>radiusInValue</key>
	<string>visibleProtocolFormat</string>
	<key>tweenFrameworkMode</key>
	<string>independentMarginVelocity</string>
</dict>
</plist>
