<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeForState</key>
	<string>routerProcessDirection</string>
	<key>painterOutsideProcess</key>
	<string>resultSystemRotation</string>
	<key>routeNearEnvironment</key>
	<string>responseAdapterDistance</string>
	<key>scaffoldFrameworkBrightness</key>
	<string>aspectratioKindContrast</string>
</dict>
</plist>
