<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBoxshadowKind</key>
	<string>chartContainPrototype</string>
	<key>builderSinceProxy</key>
	<string>independentBrushFeedback</string>
	<key>checkboxUntilChain</key>
	<string>flexibleCubitRotation</string>
	<key>consultativeButtonStatus</key>
	<string>threadParamPosition</string>
	<key>customizedDurationColor</key>
	<string>gradientPhaseRotation</string>
	<key>gesturedetectorAsTier</key>
	<string>integerPrototypeStyle</string>
	<key>materialLikeVar</key>
	<string>sizedboxScopeInteraction</string>
	<key>menuNearTemple</key>
	<string>painterStyleState</string>
	<key>sceneViaParam</key>
	<string>roleUntilSystem</string>
	<key>textureSinceDecorator</key>
	<string>allocatorSystemOrientation</string>
</dict>
</plist>
