<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaActionCenter</key>
	<string>movementFunctionSpeed</string>
	<key>commonUsecaseRotation</key>
	<string>finalHashRotation</string>
	<key>intensityAndVariable</key>
	<string>usagePatternTag</string>
	<key>techniqueAdapterSpeed</key>
	<string>compositionalChannelsFeedback</string>
	<key>techniqueInterpreterScale</key>
	<string>curveAboutShape</string>
	<key>unsortedRichtextSkewy</key>
	<string>dropdownbuttonFromOperation</string>
</dict>
</plist>
