<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>priorPlaybackTop</key>
	<string>dropdownbuttonOfPrototype</string>
	<key>transformerSinceJob</key>
	<string>routerAsTask</string>
	<key>viewViaSystem</key>
	<string>customSizeStyle</string>
</dict>
</plist>
