<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleOffsetBrightness</key>
	<string>globalDelegateAlignment</string>
	<key>buttonWorkTension</key>
	<string>segmentActivityDirection</string>
	<key>cubitAlongScope</key>
	<string>intermediateDurationOrientation</string>
	<key>cycleExceptParameter</key>
	<string>sensorAwayFlyweight</string>
	<key>frameOutsideStructure</key>
	<string>permissiveAccessoryBound</string>
	<key>grainEnvironmentSaturation</key>
	<string>sliderThanBuffer</string>
	<key>newestIsolateLeft</key>
	<string>scrollEnvironmentInteraction</string>
	<key>seamlessAsyncFrequency</key>
	<string>coordinatorInsideVisitor</string>
	<key>toolVersusAction</key>
	<string>paddingOfPrototype</string>
</dict>
</plist>
