<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRequestTag</key>
	<string>metadataProxyBehavior</string>
	<key>currentPaddingAcceleration</key>
	<string>standaloneBlocName</string>
	<key>denseInterfaceTint</key>
	<string>resultFromPlatform</string>
	<key>touchShapeInset</key>
	<string>widgetAwayParam</string>
	<key>transitionContainCycle</key>
	<string>textureActionOrientation</string>
</dict>
</plist>
