<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDuringBuffer</key>
	<string>configurationDespiteInterpreter</string>
	<key>fragmentVersusComposite</key>
	<string>momentumOutsideInterpreter</string>
	<key>handlerInStyle</key>
	<string>cosineByShape</string>
	<key>nativeProgressbarMode</key>
	<string>sliderExceptBridge</string>
	<key>seamlessStreamPosition</key>
	<string>mobxProxyStyle</string>
	<key>stackForPlatform</key>
	<string>consumerDecoratorBound</string>
</dict>
</plist>
