<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartNumberName</key>
	<string>notifierVisitorFlags</string>
	<key>controllerForFramework</key>
	<string>transitionByLayer</string>
	<key>drawerBeyondAction</key>
	<string>substantialErrorPadding</string>
	<key>dropdownbuttonMethodDuration</key>
	<string>transitionPerStrategy</string>
	<key>dropdownbuttonOutsideCycle</key>
	<string>effectActionOrigin</string>
	<key>navigatorPhaseCenter</key>
	<string>alphaWithoutObserver</string>
	<key>requiredTextureStatus</key>
	<string>indicatorBufferLeft</string>
	<key>sizedboxKindAcceleration</key>
	<string>widgetProxyContrast</string>
	<key>sustainableChallengeCenter</key>
	<string>nativeGrayscaleTension</string>
	<key>taskThroughPattern</key>
	<string>scrollableGrayscaleDelay</string>
</dict>
</plist>
