<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVarContrast</key>
	<string>listenerCompositeDepth</string>
	<key>activeLayoutSaturation</key>
	<string>concreteImageAppearance</string>
	<key>behaviorFlyweightPosition</key>
	<string>brushVariableSpeed</string>
	<key>criticalTitleIndex</key>
	<string>semanticThemeCenter</string>
	<key>denseFrameDensity</key>
	<string>geometricRequestForce</string>
	<key>profileProcessVisibility</key>
	<string>concurrentModulusPosition</string>
</dict>
</plist>
