<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorOutsideProxy</key>
	<string>composableRepositoryFrequency</string>
	<key>delegateModeOrientation</key>
	<string>swiftStructureTint</string>
	<key>riverpodInsideInterpreter</key>
	<string>accessoryThroughValue</string>
	<key>sequentialDropdownbuttonCoord</key>
	<string>gesturedetectorStrategyCenter</string>
	<key>subscriptionNearForm</key>
	<string>plateForObserver</string>
</dict>
</plist>
