<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseSinceFlyweight</key>
	<string>animatedEntropyKind</string>
	<key>consultativeLoopTint</key>
	<string>riverpodByType</string>
	<key>decorationDecoratorState</key>
	<string>zoneActivityBehavior</string>
	<key>deferredTickerSkewy</key>
	<string>signatureShapeDelay</string>
	<key>delicateSingletonDensity</key>
	<string>requiredStampDistance</string>
	<key>dropdownbuttonStructureOrientation</key>
	<string>asynchronousInterfaceBehavior</string>
	<key>ephemeralExponentOffset</key>
	<string>delegateParameterName</string>
	<key>geometricCurveFlags</key>
	<string>statelessAgainstVisitor</string>
	<key>inactiveDialogsAcceleration</key>
	<string>elasticStatelessMode</string>
	<key>intuitiveSessionDistance</key>
	<string>screenWithEnvironment</string>
</dict>
</plist>
