<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicUsageFlags</key>
	<string>requiredPromiseName</string>
	<key>subtleHistogramTint</key>
	<string>equipmentDecoratorTint</string>
	<key>widgetLikeProxy</key>
	<string>buttonVariablePosition</string>
</dict>
</plist>
