<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarWithInterpreter</key>
	<string>blocThroughVariable</string>
	<key>contractionValueVisibility</key>
	<string>viewModeAcceleration</string>
	<key>newestNavigatorDelay</key>
	<string>characterVariableForce</string>
	<key>projectionTierBottom</key>
	<string>intensityThanActivity</string>
	<key>queryFunctionMode</key>
	<string>coordinatorPatternHead</string>
	<key>seamlessChallengeKind</key>
	<string>backwardConstraintMomentum</string>
	<key>techniqueObserverLocation</key>
	<string>sinkExceptKind</string>
	<key>unactivatedChannelAcceleration</key>
	<string>sustainableAlertShade</string>
</dict>
</plist>
