<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapJobCoord</key>
	<string>custompaintSystemRotation</string>
	<key>localLocalizationRate</key>
	<string>criticalDelegateValidation</string>
	<key>usedSemanticsSize</key>
	<string>associatedTitleDistance</string>
	<key>viewOutsidePlatform</key>
	<string>futureOrOperation</string>
</dict>
</plist>
