<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAlertOrientation</key>
	<string>taskDespiteStructure</string>
	<key>chartFacadeType</key>
	<string>equipmentActionTransparency</string>
	<key>equipmentIncludeShape</key>
	<string>semanticCoordinatorBrightness</string>
	<key>greatRepositoryState</key>
	<string>memberOfType</string>
	<key>mainPlaybackDensity</key>
	<string>providerLikeContext</string>
	<key>segueMementoShape</key>
	<string>sustainableBlocDistance</string>
	<key>streamDecoratorCenter</key>
	<string>taskTierVisible</string>
</dict>
</plist>
