<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAmongComposite</key>
	<string>mainRectState</string>
	<key>errorPlatformDuration</key>
	<string>exceptionPrototypeBottom</string>
	<key>gateBridgeBottom</key>
	<string>mainCurveSaturation</string>
	<key>gridBufferAcceleration</key>
	<string>tappableBufferLocation</string>
	<key>ignoredMonsterRotation</key>
	<string>finalAnimationOrigin</string>
	<key>publicIndicatorSize</key>
	<string>spriteBridgeAlignment</string>
	<key>singletonFormInset</key>
	<string>topicAndStyle</string>
	<key>sizedboxDuringVariable</key>
	<string>skinTypeState</string>
</dict>
</plist>
