<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStrategyDepth</key>
	<string>agileTransitionBehavior</string>
	<key>futureBufferTag</key>
	<string>serviceTypeKind</string>
	<key>marginNearPhase</key>
	<string>keyThreadLeft</string>
	<key>memberTempleBound</key>
	<string>responsiveOperationRate</string>
	<key>monsterScopeOrigin</key>
	<string>stampIncludeTier</string>
	<key>popupFunctionTop</key>
	<string>directPreviewSkewx</string>
	<key>reducerForPlatform</key>
	<string>discardedEntityBrightness</string>
	<key>statefulBrushDelay</key>
	<string>animatedSubpixelSize</string>
	<key>topicAroundValue</key>
	<string>semanticCallbackState</string>
	<key>webStreamBound</key>
	<string>particleForParam</string>
</dict>
</plist>
