<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonIndicatorStatus</key>
	<string>parallelScreenVisible</string>
	<key>consultativeLabelFlags</key>
	<string>nativeFragmentBound</string>
	<key>ephemeralDropdownbuttonInterval</key>
	<string>interactorContextVisibility</string>
	<key>greatFactoryOrigin</key>
	<string>webSensorFormat</string>
	<key>interactorOutsideScope</key>
	<string>lazyBoxRotation</string>
	<key>routeChainContrast</key>
	<string>musicTaskMargin</string>
	<key>typicalLabelHue</key>
	<string>gateAsShape</string>
	<key>viewByTemple</key>
	<string>storeAboutWork</string>
</dict>
</plist>
