<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnMethodLocation</key>
	<string>subpixelDecoratorSaturation</string>
	<key>composableFutureSpeed</key>
	<string>mobileUntilValue</string>
	<key>requestWithComposite</key>
	<string>tableParameterStyle</string>
	<key>richtextScopeDensity</key>
	<string>intensityAgainstLayer</string>
	<key>widgetTypeSaturation</key>
	<string>originalIntensityContrast</string>
</dict>
</plist>
