<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerMementoSpacing</key>
	<string>widgetMediatorDepth</string>
	<key>currentResolverSpacing</key>
	<string>tangentPerMethod</string>
	<key>dedicatedDecorationStatus</key>
	<string>prevGradientBottom</string>
	<key>kernelPatternLocation</key>
	<string>boxshadowAsLayer</string>
	<key>shaderLayerPosition</key>
	<string>functionalStateHead</string>
	<key>similarTweenDuration</key>
	<string>asyncInjectionCoord</string>
	<key>streamKindPressure</key>
	<string>reusableStreamLeft</string>
	<key>transitionOutsideNumber</key>
	<string>sequentialUnaryVelocity</string>
</dict>
</plist>
