<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorNearCycle</key>
	<string>precisionAlongFacade</string>
	<key>eventInterpreterDelay</key>
	<string>asyncAnimationDelay</string>
	<key>gridForTier</key>
	<string>repositoryAgainstComposite</string>
	<key>hardCupertinoBorder</key>
	<string>cartesianActionResponse</string>
	<key>methodAlongProxy</key>
	<string>notifierAgainstLayer</string>
	<key>numericalActionBehavior</key>
	<string>concurrentStoreBound</string>
	<key>positionTaskSkewx</key>
	<string>dependencyVarMargin</string>
</dict>
</plist>
