<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWithDecorator</key>
	<string>firstRepositoryKind</string>
	<key>dependencyContainParam</key>
	<string>coordinatorContextTint</string>
	<key>eagerDecorationContrast</key>
	<string>textAwayPrototype</string>
	<key>giftEnvironmentPosition</key>
	<string>optionOfContext</string>
	<key>masterAgainstInterpreter</key>
	<string>metadataMediatorState</string>
	<key>symmetricBoxHead</key>
	<string>stackLayerColor</string>
	<key>utilLayerBottom</key>
	<string>topicProcessOffset</string>
</dict>
</plist>
