<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTaskOffset</key>
	<string>actionNumberMargin</string>
	<key>cubitKindSpacing</key>
	<string>tableInterpreterSpacing</string>
	<key>largeKernelOrigin</key>
	<string>pinchableAlignmentSize</string>
	<key>sineAlongNumber</key>
	<string>statefulThroughParameter</string>
	<key>singletonScopeScale</key>
	<string>imperativeAxisStatus</string>
	<key>storyboardOperationLocation</key>
	<string>commonPetFrequency</string>
	<key>unsortedAssetPosition</key>
	<string>respectiveCompletionDensity</string>
	<key>utilAsChain</key>
	<string>hierarchicalAnchorSkewy</string>
</dict>
</plist>
