<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystStrategyCenter</key>
	<string>keyDecorationMode</string>
	<key>hierarchicalCupertinoVisibility</key>
	<string>menuByMemento</string>
	<key>missionDespiteOperation</key>
	<string>groupBeyondProcess</string>
	<key>symmetricFrameShape</key>
	<string>liteSceneDuration</string>
	<key>techniqueSinceFunction</key>
	<string>declarativeParticlePosition</string>
	<key>tensorSkirtStatus</key>
	<string>previewNumberName</string>
</dict>
</plist>
