<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintActivityDelay</key>
	<string>tappableMediaqueryBrightness</string>
	<key>nibUntilEnvironment</key>
	<string>keyCompositionSpeed</string>
	<key>sizedboxEnvironmentType</key>
	<string>localizationUntilPlatform</string>
</dict>
</plist>
