<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFromStage</key>
	<string>loopOrActivity</string>
	<key>directlyPresenterHue</key>
	<string>mutableDescriptorPosition</string>
	<key>labelDecoratorTag</key>
	<string>permissiveRequestHue</string>
	<key>relationalTransitionIndex</key>
	<string>providerAndSystem</string>
	<key>sizeProxyOffset</key>
	<string>actionDespiteParam</string>
	<key>synchronousBinaryOrientation</key>
	<string>layoutIncludePattern</string>
</dict>
</plist>
