<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAroundForm</key>
	<string>exponentFlyweightSpacing</string>
	<key>constGramVisibility</key>
	<string>hardListenerName</string>
	<key>curveThanOperation</key>
	<string>accordionOffsetOrigin</string>
	<key>flexInParameter</key>
	<string>reducerAboutValue</string>
	<key>observerByForm</key>
	<string>cellOfCommand</string>
	<key>requiredGestureIndex</key>
	<string>symmetricDecorationResponse</string>
	<key>swiftOutsidePrototype</key>
	<string>smallAspectratioDuration</string>
</dict>
</plist>
