<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIncludeSystem</key>
	<string>secondGradientInset</string>
	<key>multiRadiusSpeed</key>
	<string>vectorLevelMode</string>
	<key>protocolThroughType</key>
	<string>commonRequestCenter</string>
	<key>repositoryCompositeFeedback</key>
	<string>accordionStreamName</string>
	<key>tappableReductionShade</key>
	<string>entropyFacadeVelocity</string>
	<key>tweenDecoratorInteraction</key>
	<string>routerModeHead</string>
</dict>
</plist>
