<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineObserverScale</key>
	<string>layoutVariableOrigin</string>
	<key>builderFacadeSpeed</key>
	<string>transitionOrStructure</string>
	<key>checklistAgainstBuffer</key>
	<string>unaryTaskFlags</string>
	<key>deferredMediaInset</key>
	<string>isolateLikeTask</string>
	<key>modulusBesideChain</key>
	<string>titleAsTask</string>
	<key>rowAdapterCount</key>
	<string>swiftForStructure</string>
	<key>storeOrOperation</key>
	<string>multiplicationAgainstFacade</string>
</dict>
</plist>
