<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveRectMomentum</key>
	<string>cupertinoAlertOrientation</string>
	<key>coordinatorAlongScope</key>
	<string>viewAgainstStructure</string>
	<key>persistentViewBehavior</key>
	<string>normBeyondStructure</string>
	<key>tickerFromStage</key>
	<string>semanticsDespiteForm</string>
</dict>
</plist>
