<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerParameterStyle</key>
	<string>hyperbolicMenuRight</string>
	<key>equipmentKindLeft</key>
	<string>modalThanFramework</string>
	<key>featureVersusForm</key>
	<string>lastLabelKind</string>
	<key>interfacePrototypeAppearance</key>
	<string>currentContainerResponse</string>
	<key>tensorHashFlags</key>
	<string>comprehensiveLogarithmStyle</string>
</dict>
</plist>
