<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStyleSpacing</key>
	<string>exceptionTempleColor</string>
	<key>channelSingletonMargin</key>
	<string>tensorThemeScale</string>
	<key>effectParamFrequency</key>
	<string>newestDropdownbuttonHue</string>
	<key>grainPatternValidation</key>
	<string>lastNormSkewy</string>
	<key>interactiveRepositorySkewy</key>
	<string>aspectInsideLevel</string>
	<key>invisibleAwaitSkewx</key>
	<string>exponentOrFlyweight</string>
	<key>movementNearFlyweight</key>
	<string>currentNotificationInset</string>
	<key>positionStageCenter</key>
	<string>constraintStyleScale</string>
	<key>responseOutsideCycle</key>
	<string>cubePlatformCenter</string>
	<key>viewMethodAcceleration</key>
	<string>delegateAdapterDensity</string>
</dict>
</plist>
