<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopInteractorDirection</key>
	<string>multiplicationAwayForm</string>
	<key>difficultServiceRotation</key>
	<string>providerAdapterCoord</string>
	<key>handlerVariableHead</key>
	<string>positionedWorkScale</string>
	<key>reductionAroundJob</key>
	<string>dialogsVersusProcess</string>
	<key>secondContractionFeedback</key>
	<string>lazyPositionVelocity</string>
	<key>statefulChallengeOffset</key>
	<string>radiusExceptStructure</string>
</dict>
</plist>
