<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityContainTask</key>
	<string>hierarchicalIsolateFormat</string>
	<key>builderOrCommand</key>
	<string>displayableEffectState</string>
	<key>consultativeRepositoryScale</key>
	<string>offsetPlatformHead</string>
	<key>cubitExceptVisitor</key>
	<string>globalDependencyTint</string>
	<key>curveParameterDuration</key>
	<string>scrollUntilMethod</string>
	<key>elasticNormTint</key>
	<string>canvasAwayInterpreter</string>
	<key>modelNumberStyle</key>
	<string>frameDecoratorHead</string>
</dict>
</plist>
