<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticCubitBound</key>
	<string>relationalTimerVisibility</string>
	<key>enabledLoopScale</key>
	<string>skinParameterEdge</string>
	<key>mainExceptionResponse</key>
	<string>priorCubeShade</string>
	<key>managerMementoTag</key>
	<string>textModeCenter</string>
</dict>
</plist>
