<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardVarTint</key>
	<string>typicalIntensityForce</string>
	<key>controllerObserverFlags</key>
	<string>eagerResultVisibility</string>
	<key>effectModeName</key>
	<string>providerDespiteJob</string>
	<key>gradientWithoutProxy</key>
	<string>materialStatePosition</string>
	<key>inheritedRequestFeedback</key>
	<string>activeSignType</string>
	<key>instructionAgainstStage</key>
	<string>currentListenerFrequency</string>
	<key>notificationKindPosition</key>
	<string>diversifiedFactoryKind</string>
	<key>presenterFacadeTag</key>
	<string>storageValueDelay</string>
	<key>subsequentSampleTag</key>
	<string>mobxNearShape</string>
	<key>ternaryAsValue</key>
	<string>activeMenuOrigin</string>
</dict>
</plist>
