<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheTierFeedback</key>
	<string>layoutStageLeft</string>
	<key>commandForValue</key>
	<string>accessoryOrProcess</string>
	<key>dialogsJobDuration</key>
	<string>sinkScopeTransparency</string>
	<key>independentInterfaceBrightness</key>
	<string>asynchronousHashOpacity</string>
	<key>menuThroughNumber</key>
	<string>completerAmongVisitor</string>
	<key>modelAtTemple</key>
	<string>currentFutureInset</string>
	<key>numericalActionSpacing</key>
	<string>nibVarColor</string>
	<key>paddingFromState</key>
	<string>missedEqualizationOffset</string>
	<key>previewChainMomentum</key>
	<string>significantServiceAppearance</string>
	<key>singleProviderOffset</key>
	<string>layoutPhaseFrequency</string>
</dict>
</plist>
