<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveBoxshadowSize</key>
	<string>kernelStyleOffset</string>
	<key>mediaEnvironmentCount</key>
	<string>ignoredDecorationColor</string>
	<key>serviceTaskBehavior</key>
	<string>animationVariableEdge</string>
	<key>statefulAlertCoord</key>
	<string>mutableServiceInset</string>
	<key>typicalImageRotation</key>
	<string>rowNumberState</string>
</dict>
</plist>
