<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStoreDirection</key>
	<string>disparateButtonOffset</string>
	<key>featureModeTension</key>
	<string>mediocreNavigatorOpacity</string>
	<key>hyperbolicTransformerBound</key>
	<string>pointAlongStage</string>
	<key>independentChallengeFrequency</key>
	<string>sineValueLeft</string>
	<key>multiReductionTransparency</key>
	<string>timerOutsideMemento</string>
	<key>offsetAdapterCenter</key>
	<string>draggableInterfaceSize</string>
	<key>retainedStackBehavior</key>
	<string>widgetInterpreterPressure</string>
	<key>significantHeroType</key>
	<string>subtleCurveTension</string>
	<key>skinTypeLocation</key>
	<string>primaryControllerTint</string>
	<key>taskCommandMargin</key>
	<string>customCallbackBorder</string>
</dict>
</plist>
