<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateStateScale</key>
	<string>beginnerControllerTint</string>
	<key>labelExceptVar</key>
	<string>aspectratioParameterMomentum</string>
	<key>logInCommand</key>
	<string>imageThanBuffer</string>
	<key>materialContractionOffset</key>
	<string>resultSystemAppearance</string>
	<key>memberAgainstFlyweight</key>
	<string>sophisticatedRouteDelay</string>
	<key>movementFlyweightCenter</key>
	<string>topicExceptShape</string>
	<key>repositoryPlatformTint</key>
	<string>otherAlertBound</string>
	<key>sineDuringActivity</key>
	<string>normalBoxshadowTension</string>
	<key>symbolPatternMomentum</key>
	<string>descriptionWithoutKind</string>
	<key>unaryFrameworkCenter</key>
	<string>storeStageTheme</string>
</dict>
</plist>
