<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateThroughProxy</key>
	<string>threadSystemStatus</string>
	<key>delicateBorderPressure</key>
	<string>animationScopeSaturation</string>
	<key>globalDescriptionPadding</key>
	<string>injectionContainStructure</string>
	<key>imperativeDurationDistance</key>
	<string>offsetLikeActivity</string>
	<key>oldProtocolMomentum</key>
	<string>storeParamOpacity</string>
	<key>permissiveUtilSkewx</key>
	<string>draggableGrayscaleTransparency</string>
	<key>plateWithoutStage</key>
	<string>callbackFromMediator</string>
	<key>reductionActionPadding</key>
	<string>currentBlocOrigin</string>
	<key>similarActionName</key>
	<string>serviceSystemInset</string>
	<key>textfieldPlatformDuration</key>
	<string>taskCycleBottom</string>
</dict>
</plist>
