<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonAsyncPressure</key>
	<string>numericalAwaitCoord</string>
	<key>declarativeBufferScale</key>
	<string>priorBitrateTag</string>
	<key>gesturedetectorFromType</key>
	<string>canvasVisitorPosition</string>
</dict>
</plist>
