<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAmongComposite</key>
	<string>expandedKindVelocity</string>
	<key>geometricTextTail</key>
	<string>navigatorAwayScope</string>
	<key>gestureOutsideState</key>
	<string>granularSkinBottom</string>
	<key>imperativeBaselineStatus</key>
	<string>unsortedDescriptionPadding</string>
	<key>resultNearMethod</key>
	<string>aspectIncludeAction</string>
	<key>standaloneCurveCenter</key>
	<string>arithmeticAtProxy</string>
	<key>subpixelAtInterpreter</key>
	<string>buttonTempleInset</string>
</dict>
</plist>
