<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderContextFormat</key>
	<string>chapterOfVariable</string>
	<key>convolutionAndProcess</key>
	<string>heapByFacade</string>
	<key>methodEnvironmentSize</key>
	<string>retainedSkinDensity</string>
	<key>storageWithoutType</key>
	<string>resolverPrototypeOrigin</string>
</dict>
</plist>
