<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableErrorContrast</key>
	<string>semanticDurationHead</string>
	<key>compositionalCurveMomentum</key>
	<string>newestQueueOffset</string>
	<key>cupertinoValueCount</key>
	<string>documentWithoutObserver</string>
	<key>decorationObserverFormat</key>
	<string>customGroupCenter</string>
	<key>playbackAtMediator</key>
	<string>iterativeSliderOffset</string>
	<key>shaderOfNumber</key>
	<string>cursorPhaseInterval</string>
	<key>toolAboutFacade</key>
	<string>backwardSessionPressure</string>
</dict>
</plist>
