<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTransitionSaturation</key>
	<string>secondSliderOrientation</string>
	<key>arithmeticMetadataEdge</key>
	<string>intuitiveTransitionOpacity</string>
	<key>deferredGrayscaleDuration</key>
	<string>unaryCycleIndex</string>
	<key>desktopUsageRotation</key>
	<string>boxParameterRate</string>
	<key>invisibleAssetStatus</key>
	<string>liteQueryStyle</string>
	<key>pointDuringMethod</key>
	<string>customStateRotation</string>
	<key>semanticsAtActivity</key>
	<string>baselinePrototypeInteraction</string>
	<key>spriteThanTier</key>
	<string>oldLabelResponse</string>
</dict>
</plist>
