<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateContextTint</key>
	<string>compositionalPresenterIndex</string>
	<key>granularProviderTension</key>
	<string>compositionalGraphShade</string>
	<key>tappableGateKind</key>
	<string>nextTransformerDensity</string>
	<key>usedCommandOpacity</key>
	<string>materialScopeStatus</string>
</dict>
</plist>
