<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorKindKind</key>
	<string>containerOfFacade</string>
	<key>decorationCompositeStatus</key>
	<string>positionStageType</string>
	<key>descriptorOfStage</key>
	<string>columnSinceStage</string>
	<key>subpixelWithoutProcess</key>
	<string>masterForForm</string>
</dict>
</plist>
