<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncParticleBorder</key>
	<string>grainObserverPadding</string>
	<key>grayscaleForPhase</key>
	<string>radiusTempleKind</string>
	<key>heapActionKind</key>
	<string>routerIncludeShape</string>
	<key>variantAmongSingleton</key>
	<string>protocolBridgeLocation</string>
</dict>
</plist>
