<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleStageRight</key>
	<string>usecaseByVar</string>
	<key>columnForChain</key>
	<string>animationThroughSingleton</string>
	<key>groupLikeBuffer</key>
	<string>interactorFlyweightStatus</string>
	<key>intermediateSpriteDuration</key>
	<string>appbarAsBridge</string>
	<key>nibVariableStyle</key>
	<string>effectAgainstValue</string>
	<key>normalViewOrigin</key>
	<string>expandedCycleOrientation</string>
	<key>operationOfComposite</key>
	<string>gridviewValueShape</string>
	<key>plateOperationFormat</key>
	<string>animatedPriorityAcceleration</string>
	<key>toolAboutComposite</key>
	<string>tableInsideAction</string>
</dict>
</plist>
