<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customLabelVisible</key>
	<string>routerAndFlyweight</string>
	<key>eventStageScale</key>
	<string>gridParamRate</string>
	<key>layoutByTier</key>
	<string>transformerChainBehavior</string>
	<key>mediaqueryOperationOrientation</key>
	<string>customProfileEdge</string>
	<key>particleThanStyle</key>
	<string>expandedLevelLocation</string>
	<key>scaffoldNumberHead</key>
	<string>beginnerUnaryDistance</string>
	<key>utilSystemShade</key>
	<string>routeVersusMemento</string>
</dict>
</plist>
