<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationStructureLocation</key>
	<string>histogramInterpreterPadding</string>
	<key>cosineTaskForce</key>
	<string>queueChainBehavior</string>
	<key>imperativeStoryboardRotation</key>
	<string>semanticLabelSize</string>
	<key>originalLogarithmLocation</key>
	<string>gemOrAction</string>
	<key>profileAtCycle</key>
	<string>commandStyleAppearance</string>
	<key>rowForStructure</key>
	<string>textfieldUntilTask</string>
</dict>
</plist>
