<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeTypeHue</key>
	<string>graphAsTier</string>
	<key>firstTabviewOrigin</key>
	<string>channelsBridgeMargin</string>
	<key>gateAlongAction</key>
	<string>transitionSystemPosition</string>
	<key>popupUntilCommand</key>
	<string>discardedGridInset</string>
	<key>serviceLikeFramework</key>
	<string>basicTechniqueName</string>
	<key>spriteEnvironmentIndex</key>
	<string>compositionalRepositoryState</string>
	<key>synchronousModelKind</key>
	<string>priorityVersusAction</string>
	<key>textfieldNearPlatform</key>
	<string>currentErrorTag</string>
	<key>zoneObserverFormat</key>
	<string>loopDespiteFlyweight</string>
</dict>
</plist>
