<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessorySincePrototype</key>
	<string>beginnerCubitFormat</string>
	<key>effectViaPhase</key>
	<string>comprehensiveGesturedetectorRotation</string>
	<key>primaryDropdownbuttonBorder</key>
	<string>taskThanObserver</string>
	<key>radioNearState</key>
	<string>compositionAmongFacade</string>
</dict>
</plist>
