<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularThemeCenter</key>
	<string>directButtonIndex</string>
	<key>labelAlongPattern</key>
	<string>presenterOperationTension</string>
	<key>lastControllerSkewy</key>
	<string>resilientControllerOrientation</string>
	<key>navigationWithoutStrategy</key>
	<string>nativeIndicatorSize</string>
	<key>resilientIsolateShade</key>
	<string>tappableMediaqueryBehavior</string>
	<key>sessionAndParameter</key>
	<string>interactorVariableScale</string>
	<key>temporaryOptimizerAppearance</key>
	<string>consultativeListenerBorder</string>
	<key>touchFunctionFeedback</key>
	<string>skinSingletonCoord</string>
</dict>
</plist>
