<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerCommandDepth</key>
	<string>largeRepositoryPosition</string>
	<key>criticalExceptionMomentum</key>
	<string>mediumStatefulType</string>
	<key>indicatorForValue</key>
	<string>metadataVersusLevel</string>
	<key>mutableOverlayOrigin</key>
	<string>requestWorkBound</string>
	<key>primaryProfileOrientation</key>
	<string>groupAndStructure</string>
	<key>specifyCupertinoLeft</key>
	<string>visibleRemainderOpacity</string>
</dict>
</plist>
