<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentInStage</key>
	<string>rectMediatorCoord</string>
	<key>delegateFunctionOpacity</key>
	<string>protectedObserverOffset</string>
	<key>documentWithBuffer</key>
	<string>modalStrategyBottom</string>
	<key>exponentOrChain</key>
	<string>gridviewAroundMediator</string>
	<key>grainProcessBehavior</key>
	<string>grainActionTransparency</string>
	<key>sequentialCustompaintShape</key>
	<string>isolateVarKind</string>
	<key>skirtEnvironmentMomentum</key>
	<string>nodePrototypeStyle</string>
</dict>
</plist>
