<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaPrototype</key>
	<string>scaffoldContainFramework</string>
	<key>callbackBesideNumber</key>
	<string>priorWorkflowDistance</string>
	<key>channelsTypeVisible</key>
	<string>displayableButtonShade</string>
	<key>concreteRouterOrigin</key>
	<string>constraintFromAction</string>
	<key>convolutionLevelResponse</key>
	<string>featureAwayAction</string>
	<key>notificationLikeChain</key>
	<string>featureInsideWork</string>
	<key>reductionBesideInterpreter</key>
	<string>profileAroundFunction</string>
	<key>temporaryGraphFlags</key>
	<string>routeBesidePrototype</string>
	<key>tensorChannelSkewx</key>
	<string>projectFromTask</string>
</dict>
</plist>
