<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedScaffoldBound</key>
	<string>interactiveTangentBottom</string>
	<key>chapterContextCenter</key>
	<string>topicTaskSpeed</string>
	<key>mediaqueryThroughEnvironment</key>
	<string>materialResultBottom</string>
	<key>mobxValueFrequency</key>
	<string>sizeVariableCoord</string>
	<key>modulusScopeBrightness</key>
	<string>sensorWithTier</string>
	<key>singleLossVisibility</key>
	<string>shaderOperationBorder</string>
</dict>
</plist>
