<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsAroundNumber</key>
	<string>desktopRowResponse</string>
	<key>gradientExceptLevel</key>
	<string>custompaintUntilState</string>
	<key>materialCompleterCenter</key>
	<string>callbackInsideWork</string>
	<key>repositoryDespiteType</key>
	<string>accessibleTitleSkewy</string>
	<key>resilientCanvasSize</key>
	<string>nativeAnchorVelocity</string>
</dict>
</plist>
