<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletObserverVelocity</key>
	<string>methodContainProxy</string>
	<key>channelsKindVisible</key>
	<string>publicMapSkewy</string>
	<key>controllerUntilSystem</key>
	<string>hashSingletonSpacing</string>
	<key>coordinatorFormEdge</key>
	<string>constCompletionVisibility</string>
	<key>equalizationMethodTint</key>
	<string>functionalContainerTint</string>
	<key>mobxActivityInterval</key>
	<string>bulletValueDistance</string>
	<key>sophisticatedCurveBrightness</key>
	<string>cubitBesideMediator</string>
</dict>
</plist>
