<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateFlyweightSpeed</key>
	<string>timerByParam</string>
	<key>delegateWithoutProcess</key>
	<string>litePopupSpeed</string>
	<key>overlayObserverVisibility</key>
	<string>invisibleHeroTransparency</string>
	<key>persistentListenerTransparency</key>
	<string>durationSystemRotation</string>
	<key>scrollableBuilderCoord</key>
	<string>usecaseVarDirection</string>
	<key>singletonParameterEdge</key>
	<string>baselineInProcess</string>
</dict>
</plist>
