<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreModalPosition</key>
	<string>pageviewNumberCoord</string>
	<key>sortedTitleAppearance</key>
	<string>similarErrorTag</string>
	<key>statefulRouteInteraction</key>
	<string>commonCubitEdge</string>
	<key>uniqueIsolateVelocity</key>
	<string>composableBlocBorder</string>
</dict>
</plist>
