<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOrTask</key>
	<string>retainedLogSpeed</string>
	<key>dynamicDrawerHead</key>
	<string>timerProxySpeed</string>
	<key>movementSinceBuffer</key>
	<string>responseAroundJob</string>
	<key>reducerSystemInset</key>
	<string>memberWithStructure</string>
</dict>
</plist>
