<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSampleFormat</key>
	<string>smartChannelScale</string>
	<key>delegateStageFrequency</key>
	<string>constSingletonDuration</string>
	<key>greatRequestLocation</key>
	<string>elasticPopupVisibility</string>
	<key>progressbarOfOperation</key>
	<string>swiftModeTheme</string>
	<key>resourceVersusProcess</key>
	<string>factoryValueOrigin</string>
	<key>streamAgainstContext</key>
	<string>equalizationWithoutMemento</string>
</dict>
</plist>
