<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveRadiusPadding</key>
	<string>hardRouteScale</string>
	<key>directMultiplicationRate</key>
	<string>challengeActivityOpacity</string>
	<key>equipmentSinceProxy</key>
	<string>tabbarAboutPrototype</string>
	<key>presenterAndKind</key>
	<string>delegateValueMomentum</string>
	<key>priorityMediatorVisible</key>
	<string>statefulExceptPlatform</string>
	<key>remainderForNumber</key>
	<string>normalChartSaturation</string>
	<key>spriteStrategyDistance</key>
	<string>painterAwayBuffer</string>
	<key>textContextSkewx</key>
	<string>cycleOfOperation</string>
	<key>unarySinceTemple</key>
	<string>factoryStageType</string>
</dict>
</plist>
