<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianQueueShape</key>
	<string>spriteOrMethod</string>
	<key>containerMethodMargin</key>
	<string>significantExpandedFlags</string>
	<key>effectForStage</key>
	<string>heapJobKind</string>
	<key>flexibleStreamSaturation</key>
	<string>descriptionAlongTemple</string>
	<key>intuitiveRadioState</key>
	<string>resizableCubitTension</string>
	<key>skinMementoInterval</key>
	<string>providerMediatorDuration</string>
	<key>variantPerStyle</key>
	<string>textInsideVariable</string>
</dict>
</plist>
