<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarPerMethod</key>
	<string>constraintEnvironmentRotation</string>
	<key>commonControllerTail</key>
	<string>routerBufferBorder</string>
	<key>flexibleScrollSize</key>
	<string>otherSingletonTint</string>
	<key>labelPhaseTransparency</key>
	<string>heroVisitorDelay</string>
	<key>mainMasterAlignment</key>
	<string>geometricScaffoldTransparency</string>
	<key>opaqueAwaitFormat</key>
	<string>asyncBesidePlatform</string>
	<key>radioMementoInterval</key>
	<string>clipperWithoutProcess</string>
	<key>rapidTweenAlignment</key>
	<string>significantTitleDuration</string>
</dict>
</plist>
