<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveShaderTension</key>
	<string>equipmentExceptStyle</string>
	<key>mainBorderRate</key>
	<string>completerVariableDepth</string>
	<key>queryInCycle</key>
	<string>clipperStylePosition</string>
	<key>seguePlatformColor</key>
	<string>directlyWidgetTag</string>
	<key>statefulResolverLocation</key>
	<string>temporaryRectCoord</string>
	<key>statelessLabelPressure</key>
	<string>completionVersusStyle</string>
	<key>staticOverlayBorder</key>
	<string>firstAnchorVelocity</string>
	<key>transformerSystemRotation</key>
	<string>gridPerWork</string>
	<key>viewVersusTemple</key>
	<string>transformerFormCenter</string>
	<key>visibleTextfieldMargin</key>
	<string>gridInFacade</string>
</dict>
</plist>
