<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateExceptAction</key>
	<string>coordinatorNumberMomentum</string>
	<key>curveObserverSpeed</key>
	<string>vectorExceptInterpreter</string>
	<key>listenerSinceCycle</key>
	<string>observerSinceMemento</string>
</dict>
</plist>
