<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasLikeMemento</key>
	<string>concreteProviderStyle</string>
	<key>firstTouchValidation</key>
	<string>taskAdapterBehavior</string>
	<key>handlerOrChain</key>
	<string>basicRadiusInteraction</string>
	<key>queryOutsideForm</key>
	<string>marginBeyondShape</string>
	<key>responsivePaddingTail</key>
	<string>localChannelState</string>
</dict>
</plist>
