<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeSingletonLeft</key>
	<string>missedStampIndex</string>
	<key>errorActivityDistance</key>
	<string>grainInsideJob</string>
	<key>labelOfState</key>
	<string>difficultStateFrequency</string>
	<key>mediocreTickerState</key>
	<string>adaptiveRichtextInset</string>
	<key>opaqueConsumerShade</key>
	<string>resilientLossValidation</string>
	<key>progressbarStateSpeed</key>
	<string>granularActionKind</string>
	<key>semanticsProxyTail</key>
	<string>tappableSpineStyle</string>
	<key>sophisticatedTickerMode</key>
	<string>greatBufferVisibility</string>
	<key>specifyQueryHue</key>
	<string>sensorAlongState</string>
</dict>
</plist>
