<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeShapeCoord</key>
	<string>streamVarDelay</string>
	<key>heroAmongObserver</key>
	<string>interactiveMarginOrientation</string>
	<key>localIndicatorOrientation</key>
	<string>accordionTextureIndex</string>
	<key>missionWorkDirection</key>
	<string>staticCacheOpacity</string>
	<key>sceneAgainstVisitor</key>
	<string>controllerActionAlignment</string>
</dict>
</plist>
