<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSingletonFlags</key>
	<string>themeFromLevel</string>
	<key>denseEffectInset</key>
	<string>basicAllocatorHue</string>
	<key>entityCommandTail</key>
	<string>spotAboutInterpreter</string>
	<key>finalLayerAcceleration</key>
	<string>secondPetMargin</string>
	<key>momentumAndProcess</key>
	<string>mapTempleKind</string>
	<key>requestAgainstBuffer</key>
	<string>diversifiedMetadataBound</string>
</dict>
</plist>
