<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAgainstInterpreter</key>
	<string>observerLevelBehavior</string>
	<key>commandFromBridge</key>
	<string>cubitForLayer</string>
	<key>dependencyInsideProxy</key>
	<string>certificateDespiteShape</string>
	<key>localizationSinceObserver</key>
	<string>groupByStage</string>
	<key>popupFrameworkBound</key>
	<string>heroFromObserver</string>
</dict>
</plist>
