<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoThreadShape</key>
	<string>actionOfVar</string>
	<key>cupertinoActionVisible</key>
	<string>semanticInterfaceAppearance</string>
	<key>intermediateKernelStyle</key>
	<string>discardedPositionDirection</string>
	<key>logAsType</key>
	<string>significantArithmeticFormat</string>
	<key>nextGrayscaleSaturation</key>
	<string>checklistAgainstChain</string>
</dict>
</plist>
