<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGrainSkewx</key>
	<string>operationChainRotation</string>
	<key>behaviorOfShape</key>
	<string>desktopStepBottom</string>
	<key>cubitPatternRight</key>
	<string>tangentKindKind</string>
	<key>euclideanErrorDensity</key>
	<string>commonRowBorder</string>
	<key>immediateCoordinatorColor</key>
	<string>statelessAndForm</string>
	<key>inkwellVariableLeft</key>
	<string>discardedProviderSize</string>
	<key>positionMediatorSaturation</key>
	<string>featureShapeStatus</string>
	<key>providerForKind</key>
	<string>easyObserverCenter</string>
	<key>scaffoldFrameworkOrientation</key>
	<string>eagerInkwellDistance</string>
	<key>sceneAroundVisitor</key>
	<string>sliderParameterDensity</string>
</dict>
</plist>
