<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableRectMargin</key>
	<string>explicitSpriteMomentum</string>
	<key>graphAwayStage</key>
	<string>chartIncludeParam</string>
	<key>inkwellLevelSkewy</key>
	<string>liteStreamCenter</string>
	<key>layoutPerCommand</key>
	<string>activatedConfigurationStatus</string>
	<key>singletonTypeScale</key>
	<string>iterativeTabviewMargin</string>
	<key>tangentIncludeCommand</key>
	<string>imperativeInteractorEdge</string>
	<key>vectorPrototypeSkewx</key>
	<string>unactivatedLabelDuration</string>
	<key>vectorVarEdge</key>
	<string>eagerSubscriptionDistance</string>
</dict>
</plist>
