<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAwayMethod</key>
	<string>variantOperationLeft</string>
	<key>intensityBridgeRight</key>
	<string>mediaActionTail</string>
	<key>sliderFacadeTag</key>
	<string>themeOperationShade</string>
	<key>symbolAmongProcess</key>
	<string>oldPreviewFrequency</string>
</dict>
</plist>
