<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterFromComposite</key>
	<string>labelParameterMargin</string>
	<key>projectLayerAppearance</key>
	<string>modulusParameterBound</string>
	<key>resourceWorkBottom</key>
	<string>featurePerEnvironment</string>
	<key>slashAwayState</key>
	<string>priorityInsideFramework</string>
</dict>
</plist>
