<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocExceptKind</key>
	<string>concreteIntensityTransparency</string>
	<key>controllerViaChain</key>
	<string>visibleDurationRight</string>
	<key>dependencyParamTag</key>
	<string>subsequentButtonHead</string>
	<key>stepWithStyle</key>
	<string>titleAsMediator</string>
	<key>storeAboutStrategy</key>
	<string>permanentTickerCount</string>
	<key>vectorDespiteMode</key>
	<string>multiplicationModeBehavior</string>
</dict>
</plist>
