<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularAlphaSkewx</key>
	<string>widgetFrameworkTension</string>
	<key>integerFromTask</key>
	<string>comprehensiveIndicatorScale</string>
	<key>localIndicatorName</key>
	<string>anchorScopeLocation</string>
	<key>previewVariableTheme</key>
	<string>reducerFromBuffer</string>
	<key>routeMethodCenter</key>
	<string>configurationForSystem</string>
	<key>unactivatedMethodSaturation</key>
	<string>allocatorInFramework</string>
	<key>unaryByNumber</key>
	<string>smartStoragePosition</string>
</dict>
</plist>
