<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAsShape</key>
	<string>pivotalParticleTint</string>
	<key>curveInterpreterBottom</key>
	<string>isolateAboutAdapter</string>
	<key>dialogsBeyondFramework</key>
	<string>graphValueBehavior</string>
	<key>giftOrComposite</key>
	<string>deferredChartStyle</string>
	<key>grayscaleContainWork</key>
	<string>vectorPrototypeInteraction</string>
	<key>gridviewAroundObserver</key>
	<string>explicitErrorBottom</string>
</dict>
</plist>
