<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardMementoLocation</key>
	<string>allocatorAboutActivity</string>
	<key>denseNavigatorPressure</key>
	<string>statefulLikeMemento</string>
	<key>descriptionAwayWork</key>
	<string>futureOrSystem</string>
	<key>exceptionAwayMode</key>
	<string>textfieldOrActivity</string>
	<key>prismaticRouterState</key>
	<string>resourceBeyondFramework</string>
	<key>semanticDelegateTint</key>
	<string>tableUntilStyle</string>
	<key>temporaryProfileFrequency</key>
	<string>temporaryPrecisionDepth</string>
</dict>
</plist>
