<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyAboutOperation</key>
	<string>bufferModeShade</string>
	<key>eventThanAction</key>
	<string>builderPerContext</string>
	<key>intermediateInteractorRate</key>
	<string>delicateQueueBorder</string>
	<key>requestCycleScale</key>
	<string>desktopCompleterSpacing</string>
	<key>seamlessStatefulTransparency</key>
	<string>intermediateIntensitySaturation</string>
	<key>timerStrategyMargin</key>
	<string>errorAlongBridge</string>
</dict>
</plist>
