<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationFromCommand</key>
	<string>backwardResultInteraction</string>
	<key>decorationTierTop</key>
	<string>numericalExceptionInterval</string>
	<key>descriptionContextInset</key>
	<string>seamlessServiceResponse</string>
	<key>gramTierTransparency</key>
	<string>spineAsScope</string>
	<key>ignoredTweenInset</key>
	<string>hyperbolicGroupOrigin</string>
	<key>indicatorStageSpacing</key>
	<string>flexiblePresenterKind</string>
	<key>menuWithComposite</key>
	<string>persistentGraphicBehavior</string>
	<key>plateProxyScale</key>
	<string>ephemeralContainerPosition</string>
</dict>
</plist>
