<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackVisitorFrequency</key>
	<string>persistentGradientTail</string>
	<key>currentMovementDistance</key>
	<string>effectKindLocation</string>
	<key>graphicNearFramework</key>
	<string>statelessPlatformSaturation</string>
	<key>modelSinceAction</key>
	<string>callbackAsBuffer</string>
	<key>reusableTableFlags</key>
	<string>serviceJobDensity</string>
	<key>transitionPhaseCoord</key>
	<string>reducerStrategyBottom</string>
</dict>
</plist>
