<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPerMediator</key>
	<string>nextDialogsName</string>
	<key>masterAboutFacade</key>
	<string>nibWithStage</string>
	<key>oldProtocolHead</key>
	<string>similarRectFormat</string>
	<key>routerIncludeForm</key>
	<string>grainFromContext</string>
	<key>standaloneMapEdge</key>
	<string>layoutJobFormat</string>
	<key>uniqueRichtextBound</key>
	<string>topicPerSingleton</string>
</dict>
</plist>
