<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorPlatformPressure</key>
	<string>granularReductionBottom</string>
	<key>cosineScopeSize</key>
	<string>mobileBinaryFeedback</string>
	<key>notificationVersusType</key>
	<string>cupertinoStrategyContrast</string>
	<key>particleEnvironmentFlags</key>
	<string>managerProcessShade</string>
	<key>plateWorkShape</key>
	<string>hyperbolicBoxInteraction</string>
	<key>textFromForm</key>
	<string>intuitiveTransformerIndex</string>
</dict>
</plist>
