<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencySinceVariable</key>
	<string>columnInBridge</string>
	<key>desktopAwaitLocation</key>
	<string>materialBufferStyle</string>
	<key>flexFunctionPosition</key>
	<string>statefulAmongCycle</string>
	<key>granularListenerAcceleration</key>
	<string>effectSingletonShape</string>
	<key>labelForMemento</key>
	<string>memberBeyondPattern</string>
	<key>mobxMethodContrast</key>
	<string>scrollableLoopOffset</string>
</dict>
</plist>
