<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProcessOpacity</key>
	<string>stepStageSize</string>
	<key>enabledFutureCount</key>
	<string>allocatorNearAction</string>
	<key>requestProxyMomentum</key>
	<string>significantCardAppearance</string>
	<key>resourceAroundContext</key>
	<string>interactorContainKind</string>
</dict>
</plist>
