<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSystemVisible</key>
	<string>protectedRadioTail</string>
	<key>descriptionPatternTail</key>
	<string>masterInsideStrategy</string>
	<key>dimensionByFunction</key>
	<string>resourceThroughValue</string>
	<key>effectMediatorPosition</key>
	<string>timerOutsideBridge</string>
	<key>firstListenerShade</key>
	<string>publicNormFlags</string>
	<key>groupNearVisitor</key>
	<string>finalNormTag</string>
	<key>logarithmActionSpeed</key>
	<string>concurrentCubitHue</string>
	<key>segmentScopeRate</key>
	<string>tangentVarTransparency</string>
	<key>timerFromParameter</key>
	<string>statefulForVar</string>
	<key>usecaseStateBorder</key>
	<string>layerActivityRotation</string>
</dict>
</plist>
