<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialVectorPosition</key>
	<string>tensorRequestSpacing</string>
	<key>displayableMenuSpeed</key>
	<string>criticalSpriteInset</string>
	<key>euclideanStateDuration</key>
	<string>instructionAwayPlatform</string>
	<key>precisionParameterOpacity</key>
	<string>mobileAnimationBehavior</string>
	<key>significantGrainStyle</key>
	<string>contractionPhaseOrigin</string>
</dict>
</plist>
