<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoProviderBorder</key>
	<string>webInstructionEdge</string>
	<key>blocWithoutMediator</key>
	<string>masterAgainstNumber</string>
	<key>concurrentAssetResponse</key>
	<string>reductionVisitorColor</string>
	<key>containerCompositeStyle</key>
	<string>featureProxyKind</string>
	<key>grainSingletonFrequency</key>
	<string>tableMethodFrequency</string>
	<key>inactiveOptionSize</key>
	<string>delegateBeyondLayer</string>
	<key>lostPreviewFeedback</key>
	<string>buttonPatternName</string>
	<key>sharedAnimatedcontainerSize</key>
	<string>resolverAboutBuffer</string>
	<key>substantialSpineDistance</key>
	<string>widgetInLayer</string>
</dict>
</plist>
