<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDurationDepth</key>
	<string>prevManagerState</string>
	<key>associatedRichtextInteraction</key>
	<string>cupertinoMediatorDistance</string>
	<key>dependencyAsStrategy</key>
	<string>channelAboutState</string>
	<key>durationLikeState</key>
	<string>sustainableExponentSkewy</string>
	<key>factoryActionPadding</key>
	<string>slashVariableResponse</string>
	<key>ignoredResolverMargin</key>
	<string>smallShaderAcceleration</string>
	<key>permanentCurveVisible</key>
	<string>curveThroughObserver</string>
</dict>
</plist>
