<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSineDelay</key>
	<string>singletonTaskVisible</string>
	<key>eagerLogTension</key>
	<string>reducerViaOperation</string>
	<key>listenerVarShape</key>
	<string>accessibleEffectDensity</string>
	<key>methodModeHead</key>
	<string>vectorThroughNumber</string>
	<key>rowAndShape</key>
	<string>immutableReferenceVelocity</string>
	<key>tabbarInsideState</key>
	<string>localizationAtParameter</string>
</dict>
</plist>
