<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterIncludeContext</key>
	<string>directlyConsumerStyle</string>
	<key>getxCyclePadding</key>
	<string>signatureInterpreterVelocity</string>
	<key>sizedboxVariableSaturation</key>
	<string>mapCompositeOffset</string>
	<key>storeNearEnvironment</key>
	<string>synchronousParticleFlags</string>
</dict>
</plist>
