<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customReductionVisibility</key>
	<string>spriteAdapterContrast</string>
	<key>diversifiedWorkflowDirection</key>
	<string>activatedCompletionMode</string>
	<key>getxLevelDirection</key>
	<string>topicOperationStatus</string>
	<key>groupNearTask</key>
	<string>stateContainSingleton</string>
	<key>iterativeTextureAlignment</key>
	<string>channelInBridge</string>
	<key>particleUntilAction</key>
	<string>ignoredCurveFeedback</string>
	<key>petWithoutComposite</key>
	<string>textfieldChainFlags</string>
	<key>publicQueryTail</key>
	<string>modelBufferStatus</string>
	<key>semanticsJobRight</key>
	<string>alphaTempleDelay</string>
	<key>substantialWorkflowAlignment</key>
	<string>similarProtocolSpeed</string>
</dict>
</plist>
