<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorProcessEdge</key>
	<string>delegateIncludeLayer</string>
	<key>containerBridgeResponse</key>
	<string>monsterDespiteWork</string>
	<key>euclideanContractionName</key>
	<string>providerFormTail</string>
</dict>
</plist>
