<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSingletonBound</key>
	<string>equalizationAtVar</string>
	<key>buttonPatternTail</key>
	<string>numericalGradientDensity</string>
	<key>checklistProxyOrientation</key>
	<string>subtleInterpolationSkewx</string>
	<key>controllerVarRotation</key>
	<string>containerScopeTension</string>
	<key>fixedLocalizationFeedback</key>
	<string>robustDropdownbuttonHue</string>
	<key>resultPhaseName</key>
	<string>custompaintOrStructure</string>
	<key>sizeIncludeOperation</key>
	<string>handlerThroughChain</string>
	<key>sliderScopeTail</key>
	<string>resourceStrategyFormat</string>
	<key>subsequentAnimatedcontainerColor</key>
	<string>nodeSystemShape</string>
</dict>
</plist>
