<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionObserverPosition</key>
	<string>baseIncludeAdapter</string>
	<key>immutableToolTag</key>
	<string>routeDuringStyle</string>
	<key>largeAspectratioTag</key>
	<string>dependencyMediatorVelocity</string>
	<key>persistentRectInset</key>
	<string>eventAroundValue</string>
	<key>secondResourceHead</key>
	<string>heroDecoratorState</string>
	<key>spotJobName</key>
	<string>coordinatorBufferSkewy</string>
	<key>viewDuringObserver</key>
	<string>storageSingletonTension</string>
	<key>widgetPatternColor</key>
	<string>retainedTimerColor</string>
</dict>
</plist>
